<div class="admin-attendance-history">
  <div class="page-header with-border">
    <h4 class="page-header-title">{{'MOD_ADMIN_ATTENDANCE_HISTORY.PAGE_TITLE' | translate}}</h4>
    <div class="display-flex flex-justify-content-flex-end">
      <div class="grid-row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <form [formGroup]="rangeForm" class="form-control date-picker-form display-flex flex-align-items-center">
            <mat-date-range-input [max]="maxDate" [rangePicker]="picker">
              <input matStartDate formControlName="startDate" [value]="startDate">
              <input matEndDate formControlName="endDate" [value]="endDate"
                     (dateChange)="onEndDateChange()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-search-nav (searchChange)="onSearchTextChange($event)"
                  (sortOrderChange)="onSortOrderChange($event)"
                  (sortByChange)="onSortByChange($event)"
                  (checkLeaveChange)="onLeaveStatusChange($event)"
                  [checkLeaveDropdownValues]="checkLeaveDropdownValues"
                  [sortByDropdownValues]="sortByDropdownValues"
                  [config]="{enableToggle: false, enableSortOrder: true, enableSearchInput: false, enableSortBy: true, enableCheckLeave: true, enableStatus: false}"
  >
  </app-search-nav>
  <div class="grid-row mb-lg">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <nico-advanced-select
        class="w-100" id="hod"
        [config]="config"
        [remote]="true"
        [value]="employeeModel?.id"
        [url]="urlForAdvancedSelect"
        (pick)="onEmployeeSelect($event)">
        {{userModel | json}}
      </nico-advanced-select>
    </div>
  </div>

  <app-attendance-table-view *ngIf="attendanceModel && employeeModel"
                             [attendanceModel]="attendanceModel.all()"
                             [employeeModel]="employeeModel"
  ></app-attendance-table-view>

  <div class="my-md display-flex flex-justify-content-center">
    <ng-container *ngIf="attendanceModel">
      <nico-paginator
        [currentPage]="attendanceModel?.currentPage"
        [size]="attendanceModel?.total"
        [limit]="attendanceModel?.perPage"
        (pageChange)="onPageChange($event)"
        (perPageLimitChange)="onPageLimitChange($event)">
      </nico-paginator>
    </ng-container>
  </div>
</div>

<ng-template #dropDownItemTemplate let-item="item">
  <div class="display-flex flex-align-items-center">
    <app-avatar [username]="item.name" [imageLink]="item.avatar" avatarClassName="avatar-small mr-xs"></app-avatar>
    <span>{{ item.name }}</span>
  </div>
</ng-template>

<ng-template #dropDownEmptyTemplate>
  <div class="display-flex flex-align-items-center">
    <div class="avatar avatar-small mr-xs">
      <span class="avatar-initials">
        <i class="fas fa-user"></i>
      </span>
    </div>
    <span>{{'MOD_ADMIN_ATTENDANCE_HISTORY.EMPLOYEE_SELECT_LABEL' | translate}}</span>
  </div>
</ng-template>
