<div class="request-leave-page">
<!--  modal-title-->
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-calendar-star',  color:'primary'}"></app-circular-icon>
    <h5 class="modal-title text-primary">{{pageTitle}}</h5>
    <div class="modal-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>

<!--  modal-body-->
  <form [formGroup]="requestForm" [id]="requestFormID">
    <div class="modal-body h-100vh">
<!--      title-->
      <div class="form-group"
           [class.has-error]="requestForm.controls['title'].touched && requestForm.controls['title'].errors?.required">
        <label for="title" class="form-label">
          {{'MOD_LEAVE.LEAVE_TITLE_LABEL'| translate}}
        </label>
        <input type="text" name="title" id="title" formControlName="title" class="form-control"
               placeholder="{{'MOD_LEAVE.MOD_LEAVE_REQUEST.LEAVE_TITLE_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="requestForm.controls['title'].touched && requestForm.controls['title'].errors?.required">
                 {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TITLE_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
<!--      type-->
      <div class="form-group" [class.has-error]="requestForm.controls['type'].touched && requestForm.controls['type'].errors?.required" >
        <label for="type" class="form-label">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.LEAVE_TYPE_LABEL'| translate}}</label>
        <select name="type" id="type" formControlName="type" class="form-control select-form-control" >
          <option value="" disabled>
            {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.SELECT_VALUE_LABEL'| translate}}
          </option>
          <option *ngFor = "let type of leaveType" [value]="type">{{type | titlecase}}</option>
        </select>
        <span class="nico-tooltip" *ngIf="requestForm.controls['type'].touched && requestForm.controls['type'].errors?.required">
               {{'MOD_ALLOCATED_LEAVE.MOD_ADD_EDIT_ALLOCATED_LEAVE.LEAVE_TYPE_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>

<!--      emergency-->
      <div class="form-group">
        <label for="is_emergency" class="form-label">{{'MOD_LEAVE.LEAVE_CATEGORY_LABEL'| translate}}</label>
        <select name="type" id="is_emergency" formControlName="is_emergency" class="form-control select-form-control" >
          <option *ngFor = "let type of emergency" [value]="type?.value">{{type?.label}}</option>
        </select>
      </div>
<!--      date-time-->
      <div class="display-flex">
<!--        start at-->
        <div class="form-group"  [class.has-error]="requestForm.controls['start_at'].touched && requestForm.controls['start_at'].errors?.required">
          <label for="start_at" class="form-label">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.START_AT_LABEL'| translate}}</label>
          <div class="form-control display-flex"  id="start_at">
            <input matInput [ngxMatDatetimePicker]="picker" class="input-styles-hidden"
                   formControlName="start_at"
                   [min]="min"
                   [max]="max"
                   placeholder="{{'MOD_LEAVE.MOD_LEAVE_REQUEST.START_AT_PLACEHOLDER'| translate}}"
                   readonly
                   >
            <mat-datepicker-toggle matSuffix [for]="$any(picker)">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
                                     [showSpinners]="showSpinners"
                                     [showSeconds]="showSeconds"
                                     [stepHour]="stepHour"
                                     [stepMinute]="stepMinute"
                                     [stepSecond]="stepSecond"
                                     [defaultTime]="defaultTime"
                                     >
            </ngx-mat-datetime-picker>
          </div>
          <span class="nico-tooltip" *ngIf="requestForm.controls['start_at'].touched && requestForm.controls['start_at'].errors?.required">
               {{'MOD_LEAVE.MOD_LEAVE_REQUEST.START_AT_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
<!--          end at-->
        <div class="ml-xs form-group" [class.has-error]="requestForm.controls['end_at'].touched && requestForm.controls['end_at'].errors?.required">
          <label for="end_at" class="form-label">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.END_AT_LABEL'| translate}}</label>
          <div class="form-control display-flex" id="end_at">
            <input matInput [ngxMatDatetimePicker]="picker1" class="input-styles-hidden"
                   formControlName="end_at"
                   [min]="endMin"
                   placeholder="{{'MOD_LEAVE.MOD_LEAVE_REQUEST.END_AT_PLACEHOLDER'| translate}}"
                   readonly
                   >
            <mat-datepicker-toggle matSuffix [for]="$any(picker1)">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1
                                     [showSpinners]="showSpinners"
                                     [showSeconds]="showSeconds"
                                     [stepHour]="stepHour"
                                     [stepMinute]="stepMinute"
                                     [stepSecond]="stepSecond"
                                     [defaultTime]="defaultTimeEnd"

            >
            </ngx-mat-datetime-picker>
          </div>
          <span class="nico-tooltip" *ngIf="requestForm.controls['end_at'].touched && requestForm.controls['end_at'].errors?.required">
               {{'MOD_LEAVE.MOD_LEAVE_REQUEST.END_AT_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
      </div>
      <div class="mb-sm" *ngIf="notify && !switchEmergency">
        <div class="alert-info display-flex flex-align-items-center p-sm">
          <span><i class="far fa-info-circle text-primary info-icon"></i></span>
          <span class="ml-sm">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.NOTIFY_MESSAGE'| translate}}</span>
        </div>
      </div>

<!--      description-->
      <div class="form-group"
           [class.has-error]="requestForm.controls['description'].touched &&
           (requestForm.controls['description'].errors?.required)">
        <label for="description" class="form-label">
          {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_LABEL'| translate}}
        </label>
        <textarea type="text" name="description" id="description" formControlName="description" class="form-control"
                  placeholder="{{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_PLACEHOLDER'| translate}}" rows="6">
        </textarea>

        <span class="nico-tooltip"
              *ngIf="requestForm.controls['description'].touched && requestForm.controls['description'].errors?.required">
                  {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>

      </div>
      <!--    requested to-->
      <div class="change-hod form-group" >
        <label class="form-label" for="hod">{{'MOD_LEAVE.MOD_LEAVE_REQUEST.REQUEST_TO_LABEL'| translate}}</label>
        <ng-template #dropDownItemTemplate let-item="item">
          <div class="display-flex flex-align-items-center">
        <span>
          <app-avatar
            [avatarClassName]="'avatar-default'" [imageLink]="item.avatar"
            [username]="item.name"></app-avatar>
        </span>
          <span class="ml-xs">{{ item.name }}
          </span>
          </div>
        </ng-template>
        <nico-advanced-select
          [readonly]="!!data.model"
          class="w-100" id="hod"
          [config]="config"
          [remote]="true"
          [value]="data.model? data.model?.requested : null"
          [remoteQueryParams]="advanceSelectQueryParams"
          [url]="url"
          (pick)="onRequestTo($event)"
        >
        </nico-advanced-select>

      </div>
      <!--    request close-->
    </div>


    <div class="modal-footer with-border">
      <button class="btn btn-outline-light" id="close-btn" mat-dialog-close>
        {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.CANCEL_BUTTON_LABEL'| translate}}
      </button>
      <button (click)="onFormSubmit()" type="submit" [disabled]="requestForm.invalid"
              class="btn btn-primary save">
        {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.EDIT_BUTTON_LABEL'| translate}}
      </button>
    </div>
  </form>
</div>
