<!-- Switch -->
<div class="card" id="switch">
  <div class="card-header with-border">
    <h4 class="title">Switch</h4>
  </div>
  <div class="card-body">
    <div class="grid-row">
      <div class="col-lg-8">
        <div class="grid-row flex-align-items-center py-sm">
          <div class="col-lg-6">
            <h6 class="mb-zero mr-sm">Switch Active State</h6>
            <pre>@Input isActive:boolean;</pre>
          </div>
          <div class="col-lg-6">
            <div class="display-flex">
              <label class="radio-form-control">
                <input class="radio-input" type="radio" name="isActive" [value]="true" [(ngModel)]="isActive"/>
                <span class="radio-label">On</span>
              </label>
              <label class="radio-form-control">
                <input class="radio-input" type="radio" name="isActive" [value]="false" [(ngModel)]="isActive"/>
                <span class="radio-label">Off</span>
              </label>
            </div>
          </div>
        </div>
        <div class="grid-row flex-align-items-center py-sm">
          <div class="col-lg-6">
            <h6 class="mb-zero mr-sm">Switch Disabled State</h6>
            <pre>@Input isDisabled:boolean;</pre>
          </div>
          <div class="col-lg-6">
            <div class="display-flex">
              <label class="radio-form-control">
                <input class="radio-input" type="radio" name="isDisabled" [value]="true"
                       [(ngModel)]="isDisabled"/>
                <span class="radio-label">True</span>
              </label>
              <label class="radio-form-control">
                <input class="radio-input" type="radio" name="isDisabled" [value]="false"
                       [(ngModel)]="isDisabled"/>
                <span class="radio-label">False</span>
              </label>
            </div>
          </div>
        </div>
        <div class="grid-row flex-align-items-center py-sm">
          <div class="col-lg-6">
            <h6 class="mb-zero mr-sm">Switch Label</h6>
          </div>
          <div class="col-lg-6">
            <div class="display-flex">
              <input type="text" [(ngModel)]="switchLabel" id="switchLabel" placeholder="Switch Label"
                     class="form-control">
            </div>
          </div>
        </div>
        <div class="grid-row flex-align-items-center py-sm">
          <div class="col-lg-6">
            <h6 class="mb-zero mr-sm">Switch Label Placement</h6>
            <small class="subtitle">(Requires Label Field)</small>
          </div>
          <div class="col-lg-6">
            <div class="display-flex">
              <label class="radio-form-control">
                <input class="radio-input" type="radio" name="labelPlacement" [value]="'suffix'"
                       [(ngModel)]="labelPlacement"/>
                <span class="radio-label">Suffix</span>
              </label>
              <label class="radio-form-control">
                <input class="radio-input" type="radio" name="labelPlacement" [value]="'prefix'"
                       [(ngModel)]="labelPlacement"/>
                <span class="radio-label">Prefix</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card elevation-flat flex-align-items-center flex-justify-content-center h-100">
          <div class="card-header with-border">
            <div class="title text-center">
              <span *ngIf="isActive">Switch ON</span>
              <span *ngIf="!isActive">Switch OFF</span>
            </div>
          </div>
          <div class="card-body">
            <app-switch
              (switchValueChange)="onSwitchValueChange($event)"
              [switchConfig]="{label: switchLabel, labelPlacement: labelPlacement}"
              [isDisabled]="isDisabled"
              [isActive]="isActive">
            </app-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
