<div class="add-edit-social-security-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-user-lock', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title">{{pageTitle}}</h5>
    <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
  <form [formGroup]="socialSecurityForm" [id]="socialSecurityFormID">
    <div class="modal-body">
      <div class="form-group"
           [class.has-error]="socialSecurityForm.controls['title'].touched && socialSecurityForm.controls['title'].errors?.required">
        <label for="title" class="form-label">
          {{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.TITLE_LABEL' | translate}}
        </label>
        <input type="text" id="title" formControlName="title" class="form-control"
               placeholder="{{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.TITLE_PLACEHOLDER' | translate}}"/>
        <span class="nico-tooltip"
              *ngIf="socialSecurityForm.controls['title'].touched && socialSecurityForm.controls['title'].errors?.required">
            {{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.TITLE_LABEL' | translate}}
          {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
        </span>
      </div>
      <div class="form-group"
           [class.has-error]="socialSecurityForm.controls['number'].touched && socialSecurityForm.controls['number'].errors?.required">
        <label for="number" class="form-label">
          {{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.NUMBER_LABEL' | translate}}
        </label>
        <input type="text" id="number" formControlName="number" class="form-control"
               placeholder="{{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.NUMBER_PLACEHOLDER' | translate}}"/>
        <span class="nico-tooltip"
              *ngIf="socialSecurityForm.controls['number'].touched && socialSecurityForm.controls['number'].errors?.required">
          {{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.NUMBER_LABEL' | translate}}
          {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group"
           [class.has-error]="socialSecurityForm.controls['start_date'].touched && socialSecurityForm.controls['start_date'].errors?.required">
        <label for="start_date" class="form-label">
          {{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.START_DATE_LABEL' | translate}}
        </label>
        <div class="date-picker-input" id="start_date">
          <input readonly [max]="today" class="form-control" formControlName="start_date"
                 [matDatepicker]="start_date" (focus)="start_date.open()"
                 placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.JOINED_AT_PLACEHOLDER'| translate}}">
          <mat-datepicker-toggle [for]="start_date"></mat-datepicker-toggle>
          <mat-datepicker #start_date></mat-datepicker>
        </div>
        <span class="nico-tooltip"
              *ngIf="socialSecurityForm.controls['start_date'].touched && socialSecurityForm.controls['start_date'].errors?.required">
          {{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.START_DATE_LABEL' | translate}}
          {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group" *ngIf="this.modal.model">
        <label for="end_date"
               class="form-label">{{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.END_DATE_LABEL'| translate}}
          <span
            class="text-small text-muted ml-xxs">{{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.OPTIONAL_LABEL'|translate}}</span>
        </label>
        <div class="date-picker-input" id="end_date">
          <input readonly [max]="today" class="form-control" formControlName="end_date"
                 [matDatepicker]="end_date" (focus)="end_date.open()"
                 placeholder="{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.JOINED_AT_PLACEHOLDER'| translate}}">
          <mat-datepicker-toggle [for]="end_date"></mat-datepicker-toggle>
          <mat-datepicker #end_date></mat-datepicker>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close>{{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.CANCEL_LABEL'| translate}}</button>
    <button type="submit" [disabled]="socialSecurityForm.invalid" class="btn btn-primary"
            (click)="onSubmitForm()">{{'MOD_SOCIAL_SECURITY.MOD_ADD_EDIT_SOCIAL_SECURITY.SAVE_LABEL'| translate}}</button>
  </div>
</div>
