<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h5 class="card-title">{{pageTitle}}</h5>
      <button class="btn btn-primary new-btn" (click)="onAddEditSecurity()">
        <i class="font-icon far fa-plus icon-prefix"></i>
        {{'MOD_SOCIAL_SECURITY.NEW_LABEL'| translate}}
      </button>
    </div>
      <div class="grid-row" *ngIf="models?.all().length > 0; else empty_state">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngFor ="let security of models">
          <div class="card info-card h-100">
            <div class="card-header">
              <app-circular-icon [config]="{iconName: 'far fa-user-lock', color:'primary'}"></app-circular-icon>
              <div class="fly-menu-absolute mt-xxs">
                <nico-action-fly-menu [options]="{showIconOnly: true}"
                                      [addOns]="getFlyMenuAdOns()"
                                      (action)="onFlyMenuAction($event, security)"
                >
                </nico-action-fly-menu>
              </div>
            </div>
            <div>
              <h5 class="security-title font-weight-500 m-zero text-truncate">{{security.title | titlecase}}</h5>
              <p class="text-primary">{{security.number}}</p>
            </div>
            <div class="mt-lg">
              <div class="display-flex flex-justify-content-space-between flex-align-items-center">
                <div class="display-flex flex-align-items-center">
                  <i class="far fa-calendar-star text-primary"></i>
                  <p class="m-zero ml-sm">{{'MOD_SOCIAL_SECURITY.START_DATE_LABEL'| translate}}</p>
                </div>
                <nico-date  format="YYYY-MM-DD"  [value]="security.start_date" class="text-muted"></nico-date>
              </div>

              <div class="display-flex flex-justify-content-space-between mt-sm flex-align-items-center " *ngIf="security.end_date">
                <div class="display-flex flex-align-items-center end-date">
                  <i class="far fa-calendar-exclamation text-primary"></i>
                  <p class="m-zero ml-sm">{{'MOD_SOCIAL_SECURITY.END_DATE_LABEL'| translate}}</p>
                </div>
                <nico-date  format="YYYY-MM-DD"  [value]="security.end_date && security.end_date" class="text-muted end-date"></nico-date>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #empty_state>
        <app-empty-state></app-empty-state>
      </ng-template>
  </div>
</div>
<div class="my-md display-flex flex-justify-content-center">
  <ng-container *ngIf="models">
    <nico-paginator
      [currentPage]="models.currentPage"
      [size]="models.total"
      [limit]="models.perPage"
      (pageChange)="onPageChange($event)"
      (perPageLimitChange)="onPageLimitChange($event)">
    </nico-paginator>
  </ng-container>
</div>
