<!-- Grid -->
<div class="card web-components-grid-card" id="grid" style="grid-column: 1 / -1">
  <div class="card-header with-border">
    <h4 class="title">Grid</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-xl mt-md">
      <div class="card-header">
        Grid Large (1200px) (col-lg-*)
      </div>
      <div class="card-body">
        <div class="grid-row">
          <div class="col-lg-1">col-lg-1</div>
          <div class="col-lg-2">col-lg-2</div>
          <div class="col-lg-3">col-lg-3</div>
          <div class="col-lg-6">col-lg-6</div>
        </div>
        <div class="grid-row">
          <div class="col-lg-4">col-lg-4</div>
          <div class="col-lg-8">col-lg-8</div>
        </div>
        <div class="grid-row">
          <div class="col-lg-5">col-lg-5</div>
          <div class="col-lg-7">col-lg-7</div>
        </div>
        <div class="grid-row">
          <div class="col-lg-9">col-lg-9</div>
          <div class="col-lg-3">col-lg-3</div>
        </div>
        <div class="grid-row">
          <div class="col-lg-10">col-lg-10</div>
          <div class="col-lg-2">col-lg-2</div>
        </div>
        <div class="grid-row">
          <div class="col-lg-11">col-lg-11</div>
          <div class="col-lg-1">col-lg-1</div>
        </div>
        <div class="grid-row">
          <div class="col-lg-12">col-lg-12</div>
        </div>
      </div>
    </div>
    <div class="card elevation-flat mb-xl">
      <div class="card-header">
        Grid Medium (992px) (col-md-*)
      </div>
      <div class="card-body">
        <div class="grid-row">
          <div class="col-md-1">col-md-1</div>
          <div class="col-md-2">col-md-2</div>
          <div class="col-md-3">col-md-3</div>
          <div class="col-md-6">col-md-6</div>
        </div>
        <div class="grid-row">
          <div class="col-md-4">col-md-4</div>
          <div class="col-md-8">col-md-8</div>
        </div>
        <div class="grid-row">
          <div class="col-md-5">col-md-5</div>
          <div class="col-md-7">col-md-7</div>
        </div>
        <div class="grid-row">
          <div class="col-md-9">col-md-9</div>
          <div class="col-md-3">col-md-3</div>
        </div>
        <div class="grid-row">
          <div class="col-md-10">col-md-10</div>
          <div class="col-md-2">col-md-2</div>
        </div>
        <div class="grid-row">
          <div class="col-md-11">col-md-11</div>
          <div class="col-md-1">col-md-1</div>
        </div>
        <div class="grid-row">
          <div class="col-md-12">col-md-12</div>
        </div>
      </div>
    </div>
    <div class="card elevation-flat mb-xl">
      <div class="card-header">
        Grid Small (768px) (col-sm-*)
      </div>
      <div class="card-body">
        <div class="grid-row">
          <div class="col-sm-1">col-sm-1</div>
          <div class="col-sm-2">col-sm-2</div>
          <div class="col-sm-3">col-sm-3</div>
          <div class="col-sm-6">col-sm-6</div>
        </div>
        <div class="grid-row">
          <div class="col-sm-4">col-sm-4</div>
          <div class="col-sm-8">col-sm-8</div>
        </div>
        <div class="grid-row">
          <div class="col-sm-5">col-sm-5</div>
          <div class="col-sm-7">col-sm-7</div>
        </div>
        <div class="grid-row">
          <div class="col-sm-9">col-sm-9</div>
          <div class="col-sm-3">col-sm-3</div>
        </div>
        <div class="grid-row">
          <div class="col-sm-10">col-sm-10</div>
          <div class="col-sm-2">col-sm-2</div>
        </div>
        <div class="grid-row">
          <div class="col-sm-11">col-sm-11</div>
          <div class="col-sm-1">col-sm-1</div>
        </div>
        <div class="grid-row">
          <div class="col-sm-12">col-sm-12</div>
        </div>
      </div>
    </div>
    <div class="card elevation-flat">
      <div class="card-header">
        Grid XS (600px) (col-xs-*)
      </div>
      <div class="card-body">
        <div class="grid-row">
          <div class="col-xs-1">col-xs-1</div>
          <div class="col-xs-2">col-xs-2</div>
          <div class="col-xs-3">col-xs-3</div>
          <div class="col-xs-6">col-xs-6</div>
        </div>
        <div class="grid-row">
          <div class="col-xs-4">col-xs-4</div>
          <div class="col-xs-8">col-xs-8</div>
        </div>
        <div class="grid-row">
          <div class="col-xs-5">col-xs-5</div>
          <div class="col-xs-7">col-xs-7</div>
        </div>
        <div class="grid-row">
          <div class="col-xs-9">col-xs-9</div>
          <div class="col-xs-3">col-xs-3</div>
        </div>
        <div class="grid-row">
          <div class="col-xs-10">col-xs-10</div>
          <div class="col-xs-2">col-xs-2</div>
        </div>
        <div class="grid-row">
          <div class="col-xs-11">col-xs-11</div>
          <div class="col-xs-1">col-xs-1</div>
        </div>
        <div class="grid-row">
          <div class="col-xs-12">col-xs-12</div>
        </div>
      </div>
    </div>
  </div>
</div>
