<div class="search-filter">
  <!--Search-->
  <div class="search-filter-action-item search-item" *ngIf="config.enableSearchInput">
    <div class="search-input">
      <i class="font-icon far fa-search"></i>
      <input type="search" class="form-control" [placeholder]="searchPlaceholderText | translate"
             [(ngModel)]="searchText" (ngModelChange)="onSearchValueChange()"/>
      <div class="search-actions">
        <span class="clear" (click)="onSearchTextClear()" [class.hidden]="searchText == ''"></span>
        <div class="search-spinner" *ngIf="false">
          <app-static-spinner size="1.5rem"></app-static-spinner>
        </div>
      </div>
    </div>
  </div>
  <!--Status-->
  <div class="search-filter-action-item status-item" *ngIf="config?.enableStatus">
    <div class="search-input">
      <i class="font-icon {{selectedIcon}}"></i>
      <select class="form-control select-form-control" [(ngModel)]="status" (ngModelChange)="onStatusChange()">
        <option *ngFor="let value of statusDropdownValues" [value]="value.value">{{value.status}}</option>
      </select>
    </div>
  </div>
  <!--On Leave-->
  <div class="search-filter-action-item status-item" *ngIf="config?.enableCheckLeave">
    <div class="search-input">
      <i class="font-icon {{selectedIcon}}"></i>
      <select class="form-control select-form-control" [(ngModel)]="onLeave" (ngModelChange)="onCheckLeaveChange()">
        <option *ngFor="let value of checkLeaveDropdownValues" [value]="value.value">{{value.status}}</option>
      </select>
    </div>
  </div>
  <!--Sort By-->
  <div class="search-filter-action-item sort-by-item" *ngIf="config?.enableSortBy">
    <div class="search-input">
      <i class="font-icon far fa-sliders-v"></i>
      <select class="form-control select-form-control" [(ngModel)]="sortBy" (ngModelChange)="onSortByChange()">
        <option *ngFor="let value of sortByDropdownValues" [value]="value.value">{{value.label}}</option>
      </select>
    </div>
  </div>
  <!--Sort Order-->
  <div class="search-filter-action-item sort-order-item" *ngIf="config?.enableSortOrder">
    <div class="tab-container tab-solid sort-tab">
      <div class="tab-item" (click)="toggleSortOrder($event, searchNavEnum.Ascending)" [class.active]="sortOrder === searchNavEnum.Ascending">
        <i class="font-icon far fa-sort-amount-up"></i>
      </div>
      <div class="tab-item" (click)="toggleSortOrder($event, searchNavEnum.Descending)" [class.active]="sortOrder === searchNavEnum.Descending">
        <i class="font-icon far fa-sort-amount-down"></i>
      </div>
    </div>
  </div>
  <!--Toggle button-->
  <button class="icon-btn btn-outline-light view-toggle-btn" *ngIf="config?.enableToggle"
          (click)="onToggleView($event)">
    <i class="font-icon far fa-th" *ngIf="!toggleView"></i>
    <i class="font-icon far fa-th-list" *ngIf="toggleView"></i>
  </button>
</div>
