@mixin base-avatar($size: var(--hr-space-lg)) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: $size;
  width: $size;
  min-width: $size;
  background-image: linear-gradient(135deg, hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) var(--lightness-primary)) 10%, var(--hr-color-title) 120%);

  .avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .avatar-initials {
    color: var(--hr-color-white);
    font-family: var(--hr-font-title);
    font-weight: 500;
    font-size: calc(#{$size} * 0.4);
    line-height: 1;
  }
}

.avatar {
  @include base-avatar();

  &.avatar-small {
    @include base-avatar(1.5rem);
  }

  &.avatar-s4 {
    @include base-avatar(4rem);
  }

  &.avatar-s6 {
    @include base-avatar(6rem);
  }

  &.avatar-s8 {
    @include base-avatar(8rem);
  }
}
