// Badge
@mixin base-badge($background-color, $color) {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color;
  background-color: $background-color;
  border-radius: var(--hr-space-md);
  font-size: var(--hr-font-size-xs);
  font-family: var(--hr-font-title);
  border: 2px solid var(--hr-color-background-2);

  &.elevated {
    box-shadow: var(--hr-elevation-md);
    border: none;
  }
}

.badge {
  height: var(--hr-space-md);
  min-width: var(--hr-space-md);
  padding: 0 var(--hr-space-xxs);

  @each $color in $colorList {
    &.badge-#{$color} {
      @include base-badge(var(--hr-color-#{$color}), var(--hr-color-#{$color}-forground));
    }
  }
}
