@mixin card-base() {
  position: relative;
  background-color: var(--hr-color-card-background);
  box-shadow: var(--hr-elevation-sm);
  border-radius: var(--hr-border-radius);
}

.card {
  @include card-base();
  padding: var(--hr-card-padding);

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: calc(var(--hr-card-padding) * -1) calc(var(--hr-card-padding) * -1) 0 calc(var(--hr-card-padding) * -1);
    padding: var(--hr-card-padding);

    &.with-border {
      border-bottom: 1px solid var(--hr-color-border);
    }

    .title {
      margin: 0;
    }
  }

  .card-body {
    padding: var(--hr-card-padding) 0 0;
  }

  .card-footer {
    margin: 0 calc(var(--hr-card-padding) * -1) calc(var(--hr-card-padding) * -1) calc(var(--hr-card-padding) * -1);
    padding: var(--hr-card-padding);
    border-radius: 0 0 var(--hr-border-radius) var(--hr-border-radius);

    &.with-border {
      border-top: 1px solid var(--hr-color-border);
    }
  }

  &.with-hover-style {
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: var(--hr-elevation-md);
    }
  }

  &.elevation-flat {
    box-shadow: none;
    border: 1px solid var(--hr-color-border);

    &.with-hover-style {
      cursor: pointer;
      box-shadow: none;
      transition: background-color .3s ease;

      &:hover {
        background-color: var(--hr-color-card-hover-background);
      }
    }
  }
}
