.chart-legend {
  @include flexbox(row, center, space-between);
  .legends {
    @include flexbox(row, center, space-between);
  }
  .legend {
    @include flexbox(row, center, center);
  }
  .marker {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
  }
}
