@mixin base-icon-container($hue, $saturation, $lightness) {
  background-color: hsl($hue $saturation $lightness / 8%);
  color: hsl($hue $saturation $lightness);
  .indicator {
    background-color: currentColor;
  }
}

.circular-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  position: relative;

  .indicator {
    display: inline-block;
    height: 0.875rem;
    width: 0.875rem;
    min-width: 0.875rem;
    border-radius: 50%;
    position: absolute;
    right: -0.25rem;
    top: -0.125rem;
    border: 2px solid var(--hr-color-background-3);
  }

  .font-icon {
    font-size: 1.25rem;
  }

  &.circular-icon-sm {
    height: 2rem;
    width: 2rem;
    min-width: 2rem;

    .font-icon {
      font-size: 1rem;
    }
  }

  @each $color in $colorList {
    &.circular-icon-#{$color} {
      @include base-icon-container(var(--hue-#{$color}), var(--saturation-#{$color}), var(--lightness-#{$color}));
    }
  }
}
