.date-picker-input {
  position: relative;

  .mat-icon-button {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    z-index: $zIndex-1;
    background-color: $transparent;
    height: var(--hr-space-lg);
    width: var(--hr-space-lg);
    line-height: var(--hr-space-lg);

    &:hover {
      background-color: var(--hr-color-popup-border);
    }
  }

  .form-control {
    padding-right: 3rem;
    position: relative;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
