.nico-advanced-select {
  .advanced-select-option-container {
    width: 100%;
    min-width: 16rem !important;

    .search-option {
      > input {
        background-color: var(--hr-color-background-3);
        border-color: var(--hr-color-form-border) !important;

        &:hover, &:focus {
          border-color: var(--hr-color-primary) !important;
        }
      }
    }

    .font-icon {
      font-size: 1rem;
    }
  }

  .dropdown-option-list {
    max-height: 18rem;
    overflow: hidden;
    overflow-y: auto;
  }
}

.nico-action-fly-menu {
  .dropdown-option-container {
    .font-icon {
      font-size: 1rem;
    }
  }
}

// Nico advance select overrides
.nico-advanced-select {

  .advance-select-block {
    color: currentColor !important;
    background-color: $transparent !important;
    border-color: var(--hr-color-form-border) !important;
    border-radius: var(--hr-border-radius) !important;
    padding-left: 0.75rem !important;

    &:hover {
      background-color: var(--hr-color-light) !important;
    }
  }

  .advanced-select-option-container {
    background-color: var(--hr-color-popup-background) !important;
    box-shadow: var(--hr-elevation-md) !important;

    .advanced-select-option-item {
      .dropdown-option-list {
        .dropdown-option-item {
          border-color: var(--hr-color-popup-border) !important;

          &:hover {
            background-color: var(--hr-color-dropdown-item-hover) !important;
          }
        }
      }
    }
  }
}

// Nico Dropdown
.dropdown-container {
  .dropdown-icon {
    &:hover {
      background-color: var(--hr-color-light) !important;
      filter: brightness(1.125);
    }
  }

  .dropdown-label {
    border-color: var(--hr-color-form-border) !important;
    border-radius: var(--hr-border-radius) !important;
    color: currentColor !important;
    background-color: $transparent !important;

    &:hover {
      background-color: var(--hr-color-light) !important;
    }
  }
}

.dropdown-option-container {
  background-color: var(--hr-color-popup-background) !important;
  box-shadow: var(--hr-elevation-md) !important;

  .dropdown-option {
    &:hover {
      background-color: var(--hr-color-dropdown-item-hover) !important;
    }

    &.active {
    }

    .dropdown-item {
      border-color: var(--hr-color-popup-border) !important;

      &:hover {
      }
    }
  }
}

