.hr-app {
  .icon-picker {
    .ip-button {
      background-color: $transparent;
      cursor: pointer;

      &:hover {
        background-color: var(--hr-color-dropdown-item-hover);
      }
    }

    input.ip-input {
      @include form-control-states(var(--hue-primary), var(--saturation-primary), var(--lightness-primary));
      border-color: var(--hr-color-form-border);
      background-color: $transparent;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .ip-input-container {
      .ip-icon-prepend {
        background-color: var(--hr-color-background-3);
        border: 1px solid var(--hr-color-form-border);
        margin-right: -1px;
      }
    }

    .ip-search-container {
      .ip-input {
        background-color: var(--hr-color-background-3);
      }
    }

    .ip-icon-list-container {
      background-color: var(--hr-color-popup-background);
      box-shadow: var(--hr-elevation-md);

      .ip-icon-list {
        .ip-button {
          border-radius: var(--hr-button-border-radius);

          &.selected {
            background-color: var(--hr-color-background-1);
          }
        }
      }
    }
  }
}
