.info-block {
  background-color: hsl(var(--hue-info) var(--saturation-info) var(--lightness-info)/16%);
  padding: .5rem;
  border-radius: var(--hr-border-radius);
  border-color: var(--hr-color-border);
  color: var(--hr-color-text);
}
