.hr-app {
  .switch {
    .switch-input {
      box-shadow: inset 0 0 0 1px var(--hr-color-popup-border);
      background-color: var(--hr-color-background-3);

      &:before {
        border: 1px solid $transparent;
      }

      &:hover {
        &:not(:disabled) {
          box-shadow: inset 0 0 0 1rem var(--hr-color-popup-border);
        }
      }

      &:focus, &:focus-within {
        box-shadow: 0 0 1px 4px hsl(var(--hue-success) var(--saturation-success) var(--lightness-success) / 48%);
      }

      &:checked {
        &:focus, &:focus-within {
          box-shadow: 0 0 1px 4px hsl(var(--hue-success) var(--saturation-success) var(--lightness-success) / 48%);
        }
      }

      &:disabled {
        &:before {
          opacity: 0.88;
        }
      }
    }
  }
}
