.mat-tooltip {
  background-color: rgba(97, 97, 97, .9);
  font-size: 80%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  line-height: 1.25;
  max-width: 15rem;
}

// For the info icon
.form-info-tooltip {
  color: var(--hr-color-light-forground);
  padding-left: var(--hr-space-xxs);
  display: inline-block;
  .font-icon {
    font-size: var(--hr-font-size-sm);
  }
}
