<nav class="toolbar">
  <div class="toolbar-container">
    <div class="toolbar-left">
      <div class="toolbar-logo_container"></div>
    </div>
    <div class="toolbar-right">
      <div class="toolbar-item">
<!--        <button class="icon-btn icon-btn-circular btn-link-light theme-toggle-btn" (click)="onThemeToggle()">-->
<!--          <i class="font-icon far {{!lightTheme ? 'fa-sun' : 'fa-moon'}}"></i>-->
<!--        </button>-->
      </div>
      <!--<div class="toolbar-item">
        <div class="notification-item">
          <button class="icon-btn icon-btn-circular btn-link-light" (click)="openNotificationDrawer($event)">
            <i class="font-icon far fa-bell"></i>
          </button>
        </div>
      </div>-->
      <div class="toolbar-item">
        <nico-action-fly-menu
          [options]="{showCustomContent: true}" [addOns]="getAddOnMenuItems()"
          (action)="onFlyMenuAction($event)">
          <div class="profile-item">
            <app-avatar class="app-avatar" [imageLink]="user?.avatar"
                        [username]="user?.name"></app-avatar>
            <span class="title-regular">{{user?.name}}</span>
          </div>
        </nico-action-fly-menu>
      </div>
    </div>
  </div>
</nav>
