<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h4
        class="card-title">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.PAGE_TITLE' | translate}}</h4>
      <button class="btn btn-primary ml-auto" [disabled]="bankModel?.all().length > 0" (click)="onAddEditBank()"><i
        class="font-icon far fa-plus icon-prefix"></i> {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_BANKS.ADD_NEW_BUTTON_LABEL' | translate}}
      </button>
    </div>
    <!--    bank data-->
    <div class="grid-row" *ngIf="bankModel?.all().length > 0; else empty_state">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let bank of bankModel?.all()">
        <div class="info-card">
          <div class="card-header">
            <app-circular-icon [config]="{iconName: 'far fa-piggy-bank' , color: 'primary'}"></app-circular-icon>
            <div class="fly-menu-absolute">
              <nico-action-fly-menu
                [options]="{showIconOnly: true}"
                [addOns]="getFlyMenuAdOns()"
                (action)="onFlyMenuAction($event, bank)">
              </nico-action-fly-menu>
            </div>
          </div>
          <!--          Account Number-->
          <p class="mb-xs text-word-break">
            {{bank.account_number}}
          </p>
          <!--          Bank Name-->
          <h5 class="mb-xxs text-truncate">{{bank?.name | translate | titlecase}}</h5>
          <!--          Bank Branch-->
          <p class="mb-xs text-muted text-small text-truncate">
            <i class="far fa-map-marker-alt mr-xxs"></i>
            {{bank?.branch | titlecase}}
          </p>
        </div>
      </div>
    </div>
    <!--    empty state-->
    <ng-template #empty_state>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
</div>
