<section class="nico-file-upload-wrapper">
  <label class="nico-file-drop-zone"
         [class.hovering]="hovering"
         (drop)="onFileDrop($event)"
         (dragover)="onDragOver($event)"
         (dragend)="onDragLeave($event)"
         (dragleave)="onDragLeave($event)"
         for="nico-file-upload-input">
    <i *ngIf="fileExistsIcon" [class]="fileExistsIcon" class="file-icon"></i>
    <span *ngIf="!imagePreviewSource">
      {{hint}}
    </span>
    <img [src]="imagePreviewSource" class="nico-image-preview" alt="image-preview" *ngIf ="showPreview && imagePreviewSource; else documentUpload">
    <ng-template #documentUpload>
      <ng-container *ngIf="!showPreview">
        <i class="far fa-file-alt file-icon"></i>
        <span>{{fileName}}</span>
      </ng-container>
    </ng-template>
  </label>
  <input #fileInputElement style="display:none" id="nico-file-upload-input" type="file" [multiple]="multiple" (change)="onFileInputChange($event)">
</section>
