<div class="employee-address-page">
  <div class="display-flex flex-justify-content-space-between flex-align-items-center">
    <h4 class="card-title">{{'MOD_ADDRESS.ADDRESS_LABEL'| translate}}</h4>
  </div>
  <div *ngIf="addressModel?.length > 0">
    <div >
      <div class="card-body">
        <div class="grid-row">
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let address of addressModel">
            <div class="info-card h-100 elevation-flat">
              <div class="card-header">
                <app-circular-icon [config]="{iconName: 'far fa-home', color:'primary'}"></app-circular-icon>
              </div>
              <div>
                <h5 class="m-zero mb-xs ">{{address?.type === addressType?.temporary? ('MOD_ADDRESS.TEMPORARY_ADDRESS_LABEL'| translate): ('MOD_ADDRESS.PERMANENT_ADDRESS_LABEL'| translate)}}</h5>
                <div class="text-primary mb-xs">
                  <span class="capitalize">{{address?.street | titlecase}},
                  {{address?.city | titlecase}}
                  </span>
                </div>
                <div  class="my-xxs">
                  <span>{{address?.city | titlecase}},
                  {{address?.country | titlecase}}
                  {{address?.zip_code }}</span>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="addressModel?.length <= 0 ">
    <div class="card-body">
      <app-empty-state></app-empty-state>
    </div>
  </div>
</div>
