<div class="add-edit-department-page" id="form">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-briefcase', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title text-primary">{{pageTitle}}</h5>
    <div class="modal-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>
  <form [formGroup]="departmentForm" [id]="editDepartmentFormID">
    <div class="modal-body form-container">
      <div class="form-group"
           [class.has-error]="departmentForm.controls['title'].touched && departmentForm.controls['title'].errors?.required">
        <label for="title" class="form-label">
          {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DEPARTMENT_NAME_LABEL'| translate}}
        </label>
        <input type="text" name="title" id="title" formControlName="title" class="form-control"
               placeholder="{{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DEPARTMENT_NAME_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="departmentForm.controls['title'].touched && departmentForm.controls['title'].errors?.required">
                  {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DEPARTMENT_NAME_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group">
        <div class="display-flex flex-justify-content-space-between flex-align-items-center">
          <label for="status"
                 class="form-label">{{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.STATUS_LABEL' | translate}}</label>
          <app-switch
            id="status"
            [isActive]="switchState"
            (switchValueChange)="onSwitchValueChange()"
            [switchConfig]="{
            label: switchState ?
            ('MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.PUBLISHED_LABEL'| translate) :
            ('MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.UNPUBLISHED_LABEL'| translate),
            labelPlacement: 'prefix'
            }"></app-switch>
        </div>
      </div>
      <div class="form-group"
           [class.has-error]="departmentForm.controls['description'].touched &&
           (departmentForm.controls['description'].errors?.required)">
        <label for="description" class="form-label">
          {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_LABEL'| translate}}
        </label>
        <textarea type="text" name="description" id="description" formControlName="description" class="form-control"
                  placeholder="{{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_PLACEHOLDER'| translate}}" rows="6">
        </textarea>

        <span class="nico-tooltip"
              *ngIf="departmentForm.controls['description'].touched && departmentForm.controls['description'].errors?.required">
                  {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.DESCRIPTION_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-light" id="close-btn" mat-dialog-close>
        {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.CANCEL_BUTTON_LABEL'| translate}}
      </button>
      <button (click)="onSubmitForm()" type="submit" [disabled]="departmentForm.invalid"
              class="btn btn-primary save">
        {{'MOD_DEPARTMENT.MOD_EDIT_DEPARTMENT.EDIT_BUTTON_LABEL'| translate}}
      </button>
    </div>
  </form>
</div>
