<!-- Input Fields -->
<div class="card" id="input">
  <div class="card-header with-border">
    <h4 class="title">Input</h4>
  </div>
  <div class="card-body">
    <div class="form-group has-error">
      <label for="errorInput" class="form-label">Error Input</label>
      <input type="email" id="errorInput" class="form-control error" value="admin_test.org"/>
      <span class="inline-form-info">Please enter valid email address</span>
    </div>

    <div class="form-group has-success">
      <label for="successInput" class="form-label">Success Input</label>
      <input type="email" id="successInput" class="form-control success" value="admin_test@mail.org"/>
      <span class="inline-form-info">Email address verified</span>
    </div>

    <div class="form-group">
      <label for="hintMail" class="form-label">Hint Input</label>
      <input type="email" id="hintMail" class="form-control" value="admin_test@mail.org"/>
      <span class="inline-form-info">You are required to add your new email address.</span>
    </div>

    <div class="form-group">
      <div class="search-input">
        <i class="font-icon far fa-search"></i>
        <input type="search" class="form-control" placeholder="Search">
      </div>
    </div>

    <div class="form-group">
      <label for="datePicker" class="form-label">Datepicker Input</label>
      <div class="date-picker-input">
        <input type="date" id="datePicker" class="form-control" [matDatepicker]="picker" (focus)="picker.open()">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
  </div>
</div>
