<div class="admin-attendance-line-chart-page">
  <div class="card mb-lg">
    <div class="card-header with-border">
      <div class="title">
        <div>{{'MOD_ATTENDANCE_REPORT.AVG_TEAM_PUNCTUALITY_LABEL'| translate}}</div>
        <div>{{'MOD_ATTENDANCE_REPORT.TOTAL_WORKING_HOUR_LABEL'| translate}}: {{(models?.total.actual_work_hr)}}/{{(models?.total.sum_office_hr).toFixed() }} {{'MOD_ATTENDANCE_REPORT.HOURS_LABEL'| translate}}</div>
      </div>
      <app-chart-legend [chartLegend]="setChartLegend()"></app-chart-legend>
    </div>
    <div class="card-body">
      <app-line-chart [chartOption]="chartOption" [stacked]="true" class="admin-line-chart"></app-line-chart>
    </div>
  </div>
</div>
