<div class="add-edit-address-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-home', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title">{{pageTitle}}</h5>
    <button class="icon-btn icon-btn-circular btn-link-light modal-close" mat-dialog-close>
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
  <form [formGroup]="addressForm" [id]="addressFormID">
    <div class="modal-body">
      <div class="form-group"
           [class.has-error]="addressForm.controls['country'].touched && (addressForm.controls['country'].errors?.required || addressForm.controls['country'].errors?.pattern )">
        <label for="country" class="form-label">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.COUNTRY_LABEL'| translate}}
        </label>
        <input type="text" id="country" formControlName="country" class="form-control"
               placeholder="{{('MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.COUNTRY_PLACEHOLDER'| translate)}}"/>
        <span class="nico-tooltip" *ngIf="addressForm.controls['country'].touched && addressForm.controls['country'].errors?.required">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.COUNTRY_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
        </span>
      </div>
      <div class="form-group"
           [class.has-error]="addressForm.controls['state'].touched &&  addressForm.controls['state'].errors?.required ">
        <label for="state" class="form-label">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.STATE_LABEL'| translate}}
        </label>
        <input type="text" id="state" formControlName="state" class="form-control"
               placeholder="{{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.STATE_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="addressForm.controls['state'].touched && addressForm.controls['state'].errors?.required">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.STATE_LABEL'| translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group"
           [class.has-error]="addressForm.controls['city'].touched &&  addressForm.controls['city'].errors?.required">
        <label for="city" class="form-label">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.CITY_LABEL'| translate}}
        </label>
        <input type="text" id="city" formControlName="city" class="form-control"
               placeholder="{{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.CITY_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="addressForm.controls['city'].touched && addressForm.controls['city'].errors?.required">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.CITY_LABEL'| translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group"
           [class.has-error]="addressForm.controls['street'].touched &&  addressForm.controls['street'].errors?.required">
        <label for="street" class="form-label">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.STREET_LABEL'| translate}}
        </label>
        <input type="text" id="street" formControlName="street" class="form-control"
               placeholder="{{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.STREET_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="addressForm.controls['street'].touched && addressForm.controls['street'].errors?.required">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.STREET_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <div class="form-group"
           [class.has-error]="addressForm.controls['zip_code'].touched && (addressForm.controls['zip_code'].errors?.required || addressForm.controls['zip_code'].errors?.pattern) ">
        <label for="zip_code" class="form-label">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.ZIP_CODE_LABEL'| translate}}
        </label>
        <input type="number" id="zip_code" formControlName="zip_code" class="form-control"
               placeholder="{{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.ZIP_CODE_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="addressForm.controls['zip_code'].touched && addressForm.controls['zip_code'].errors?.required">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.ZIP_CODE_LABEL'| translate}}{{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
        </span>
        <span class="nico-tooltip"
              *ngIf="addressForm.controls['zip_code'].touched && addressForm.controls['zip_code'].errors?.pattern">
          {{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.ZIP_CODE_ERROR'| translate}}
        </span>
      </div>
      <div class="form-group">
        <label class="form-label" for="type">{{'MOD_ADDRESS.MOD_ADD_EDIT_ADDRESS.TYPE_LABEL'| translate}}</label>
        <div>
          <select name="type" formControlName="type" id="type" class="form-control select-form-control">
            <option *ngFor="let addressObj of addressType" [value]="addressObj.type">
              {{addressObj.label}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-light cancel-btn"
              mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}
      </button>
      <button type="submit" [disabled]="addressForm.invalid" class="btn btn-primary save ml-sm"
              (click)="onSubmitForm()">
        <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span>
      </button>
    </div>
  </form>
</div>
