<div class="leave-details-page">
  <div class="modal-header with-border">
    <h5 class="modal-title text-primary">{{pageTitle}}</h5>
    <div class="modal-close">
      <button class="icon-btn icon-btn-circular btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>
  <div class="modal-body h-100vh">
    <h5 class="leave-title">{{data.leave?.title}}</h5>
    <div class="display-flex flex-justify-content-space-between flex-align-items-center">
      <div class="display-flex flex-align-items-center">
      <app-avatar [username]="data?.leave?.employee?.name" [imageLink]="data?.leave?.employee?.avatar" [avatarClassName]="'avatar-s4'"></app-avatar>
      <div class="ml-xs">
        <div class="text-primary">{{data?.leave?.employee?.code}}</div>
        <div>
          {{data?.leave?.employee?.name}}
        </div>
      </div>
      </div>
      <app-pill [label]="getPillData(model?.status)?.label" [color]="getPillData(model?.status)?.color" size="medium"></app-pill>
    </div>

    <div class="display-flex mt-xl  flex-justify-content-space-between">
      <div class="display-flex flex-direction-column flex-align-items-center">
        <nico-date [value]="data?.leave?.start_at" format="MMM, YYYY"></nico-date>
        <h4 class="font-weight-bold my-xs">
          <nico-date [value]="data?.leave?.start_at" format="DD"></nico-date>
        </h4>
        <nico-date [value]="data?.leave?.start_at" format="dddd"></nico-date>
        <nico-date [value]="data?.leave?.start_at" format="(HH:mm)"></nico-date>
      </div>
      <div class="display-flex flex-direction-column flex-justify-content-center arrow-container">
        <div class="display-flex flex-direction-column flex-align-items-center">

            <span class="interval-arrow mb-xs"></span>
            <div class="font-weight-bold">
              <span>{{data?.leave?.days}}</span>
              <span class="ml-xxs">{{data?.leave?.days > 1? ('MOD_ALLOCATED_LEAVE.DAYS_LABEL'| translate): ('MOD_ALLOCATED_LEAVE.DAY_LABEL'| translate) }}</span></div>
        </div>
      </div>
      <div class="display-flex flex-direction-column flex-align-items-center">
        <nico-date [value]="data?.leave?.end_at" format="MMM, YYYY"></nico-date>
        <h4 class="font-weight-bold my-xs">
          <nico-date [value]="data?.leave?.end_at" format="DD"></nico-date>
        </h4>
        <nico-date [value]="data?.leave?.end_at" format="dddd"></nico-date>
        <nico-date [value]="data?.leave?.end_at" format="(HH:mm)"></nico-date>
      </div>
    </div>

    <div class="mt-lg">
      <div class="mb-sm display-flex">
        <h6>{{'MOD_LEAVE.LEAVE_TYPE_LABEL' | translate}}:</h6>
        <span class="capitalize ml-xs"> {{data?.leave?.type}}</span>
      </div>

      <div class="mb-sm">
        <h6 class="mb-xs">
          {{'MOD_LEAVE.LEAVE_REASON_LABEL' | translate}}
        </h6>
        <span>{{data?.leave?.description}}</span>
      </div>

      <div class="my-md" *ngIf="model?.status === leaveStatus.Cancelled || model?.status === leaveStatus.Declined">
        <h6 class="mb-xs">
          {{data?.leave?.status === leaveStatus.Declined ?
          ('MOD_LEAVE.LEAVE_DECLINED_REASON_LABEL' | translate):
          ('MOD_LEAVE.LEAVE_CANCELLED_REASON_LABEL' | translate) }}
        </h6>
        <span>{{model?.reason}}</span>
      </div>

    </div>

  </div>

  <ng-container *ngIf="data?.leave?.status === leaveStatus.Pending">
    <div class="modal-footer with-border">
      <button class="btn btn-outline-danger" (click)="onDecline()">{{'MOD_LEAVE.DECLINE_LABEL'| translate }}</button>
      <button class="btn btn-primary" (click)="onApprove()">{{'MOD_LEAVE.APPROVE_LABEL'| translate }}</button>
    </div>
  </ng-container>

</div>
