table{
  width:100%;

}
tr{
  width: 30px;
  height: 80px;
  align-self: stretch;

}
td.caption{
  text-align: start;
  padding: .625em;

}
td{
  width: 30px;
  padding: .625em;

}
.view-container{
  .view-detail{
    .table-data{
      text-align:justify;
      .link{
        margin-left:5px;
        color:#2980B9;
        cursor: pointer;
      }
      .switchstate{
        margin-right: 8px;
        font-size: 11px;
        padding-top: 6px;
      }
    }
  }

}
