<div class="work-time-container">
  <h4 class="title">{{'MOD_ATTENDANCE.CALENDAR.TOTAL_WORK_HOUR_LABEL' | translate}}</h4>

  <div class="work-time-content">
    <div class="work-time-chart">
      <ng-container *ngIf="workTime; else empty_state">
        <div echarts [options]="chartOption" class="doughnut-time-chart"></div>
      </ng-container>
    </div>
    <div class="info-well" *ngIf="breakTime">
      <h6 class="mb-zero">{{'MOD_ATTENDANCE.CALENDAR.BREAK_LABEL' | translate}}</h6>
      <span class="subtitle">{{this.breakTimeInHours}}</span>
    </div>
    <ng-template #empty_state>
      <div class="mt-xl">
        <app-empty-state></app-empty-state>
      </div>
    </ng-template>
  </div>
</div>
