<div class="admin-attendance-dashboard-page">
    <div class="page-header with-border">
      <h4 class="page-header-title">{{pageTitle}}</h4>
    </div>
    <app-admin-attendance-dashboard-chart>
    </app-admin-attendance-dashboard-chart>

    <div class="mt-lg">
      <app-admin-attendance-dashboard-list>
      </app-admin-attendance-dashboard-list>
    </div>
</div>
