* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: var(--hr-color-text);
  background-color: var(--hr-color-background-1);
  font-family: var(--hr-font-body);

  sup {
    vertical-align: super;
    font-size: smaller;
  }
}

svg {
  display: inline-block;
  height: auto;
  width: auto;
  fill: currentColor;
}


hr {
  display: block;
  width: 100%;
  margin: 1rem 0;
  border: none;
  border-top: 1px solid var(--hr-color-border);
}

small {
  font-size: small;
}

::-webkit-scrollbar {
  width: var(--hr-scroll-bar-width);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem 0.5rem var(--hr-color-border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hr-scrollbar-thumb-color);
  border-radius: 1rem;
  border: 0.125rem solid var(--hr-color-border);
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--hr-color-primary);
  -webkit-text-fill-color: currentColor;
  -webkit-box-shadow: inset 0 0 10rem var(--hr-color-border) !important;
  transition: background-color 0.3s ease;
  color: currentColor;
}

pre {
  color: var(--hr-color-subtitle);
  opacity: 0.8;
}
