// Svg Icon
.font-icon {
  line-height: 1;

  &.prefix {
    margin-right: var(--hr-space-xs);
  }

  &.suffix {
    margin-left: var(--hr-space-xs);
  }
}

// Display

.hidden {
  display: none !important;
}

.hidden-xs {
  @include xs() {
    display: none !important;
  }
}

.hidden-sm {
  @include sm() {
    display: none !important;
  }
}

.hidden-md {
  @include md() {
    display: none !important;
  }
}

.hidden-lg {
  @include lg() {
    display: none !important;
  }
}

// Flexbox Helper Classes

.display-flex {
  display: flex !important;
}

.display-inline-flex {
  display: inline-flex !important;
}

.flex-direction-row {
  flex-direction: row !important;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-align-items-center {
  align-items: center !important;
}

.flex-align-items-start {
  align-items: flex-start !important;
}

.flex-align-items-end {
  align-items: flex-end !important;
}

.flex-justify-content-center {
  justify-content: center !important;
}

.flex-justify-content-space-between {
  justify-content: space-between !important;
}

.flex-justify-content-space-evenly {
  justify-content: space-evenly !important;
}

.flex-justify-content-end {
  justify-content: flex-end !important;
}

.flex-justify-content-start {
  justify-content: flex-start !important;
}

.flex-1 {
  flex: 1 !important;
}

.display-none {
  display: none !important;
}

@each $size in $spacingSizes {
  // Margin
  .m-#{$size} {
    margin: var(--hr-space-#{$size}) !important;
  }
  .my-#{$size} {
    margin-top: var(--hr-space-#{$size}) !important;
    margin-bottom: var(--hr-space-#{$size}) !important;
  }
  .mx-#{$size} {
    margin-left: var(--hr-space-#{$size}) !important;
    margin-right: var(--hr-space-#{$size}) !important;
  }
  .mt-#{$size} {
    margin-top: var(--hr-space-#{$size}) !important;
  }
  .mr-#{$size} {
    margin-right: var(--hr-space-#{$size}) !important;
  }
  .mb-#{$size} {
    margin-bottom: var(--hr-space-#{$size}) !important;
  }
  .ml-#{$size} {
    margin-left: var(--hr-space-#{$size}) !important;
  }

  // Padding
  .p-#{$size} {
    padding: var(--hr-space-#{$size}) !important;
  }
  .py-#{$size} {
    padding-top: var(--hr-space-#{$size}) !important;
    padding-bottom: var(--hr-space-#{$size}) !important;
  }
  .px-#{$size} {
    padding-left: var(--hr-space-#{$size}) !important;
    padding-right: var(--hr-space-#{$size}) !important;
  }
  .pt-#{$size} {
    padding-top: var(--hr-space-#{$size}) !important;
  }
  .pr-#{$size} {
    padding-right: var(--hr-space-#{$size}) !important;
  }
  .pb-#{$size} {
    padding-bottom: var(--hr-space-#{$size}) !important;
  }
  .pl-#{$size} {
    padding-left: var(--hr-space-#{$size}) !important;
  }
}

// Margin Auto

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Width / Height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}


// Position
.position-relative {
  position: relative !important;
}

.position-static {
  position: static !important;
}

// No events
.no-pointer-events {
  pointer-events: none !important;
}

// Hide scroll
.hide-scroll {
  overflow: hidden;
  padding-right: var(--hr-scroll-bar-width);
}

// disable scroll
.no-scroll {
  position: fixed;
  overflow-y: scroll;
}


// ========================================
// Box shadows
// ========================================

.hr-elevation-sm {
  box-shadow: var(--hr-elevation-sm);
}

.hr-elevation-md {
  box-shadow: var(--hr-elevation-md);
}

.hr-elevation-lg {
  box-shadow: var(--hr-elevation-lg);
}

.hr-elevation-xl {
  box-shadow: var(--hr-elevation-xl);
}
