<!-- Notification Row -->
<div class="card" id="notification">
  <div class="card-header with-border">
    <h4 class="title">Notification Row</h4>
  </div>
  <div class="card-body">
    <app-notification-row type="success"></app-notification-row>
    <app-notification-row type="danger"></app-notification-row>
    <app-notification-row type="warning"></app-notification-row>
    <app-notification-row type="info"></app-notification-row>
  </div>
</div>
