<div class="dashboard-page">
  <!--  Page Header  -->
  <div class="page-header with-border">
    <div class="page-header-left">
      <h4 class="page-header-title">{{pageTitle}}</h4>
    </div>
  </div>
  <div class="grid-row mb-sm">
    <div class="col-xl-3 col-lg-4">
      <div class="h-100 card">
        <app-punch-in-out></app-punch-in-out>
      </div>
    </div>
  </div>
</div>
