.attendance-calendar {
  padding: 0;
  .e-schedule {
    .e-month-view {
      .e-work-cells {
        height: 8rem;
        position: relative;

        @include xs() {
          min-height: 9rem;
        }
      }

      .e-appointment {
        min-height: 3.5rem;

        @include xs() {
          min-height: 4rem;
        }
      }
    }
  }

  .cell-attendance-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .cell-work-hours {
      white-space: break-spaces;
    }
  }
}
