.basic-employee-view-page{
  .info-title{
    font-size: 1.5rem;
  }
  .info-heading{
    font-size: 1.25rem;
  }
  .tenure-info-icons{
    font-size: 3rem;
    color: var(--hr-color-primary);
  }

}
