// Back button
.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--hr-color-subtitle);

  .font-icon {
    transition: transform 0.3s ease;
  }

  &:hover {
    .font-icon {
      transform: translateX(-0.25rem);
    }
  }
}

/* Label value Row List item*/
.label-value-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  min-height: 3rem;

  .label {
    display: flex;
    align-items: center;
    font-family: var(--hr-font-title);;
    font-weight: 500;
    margin-right: 1rem;
    color: var(--hr-color-title);
    min-width: 12rem;
  }

  .value {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    color: var(--hr-color-subtitle);
  }
}

// Spinner component
.static-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: currentColor;
}


// flex list

.list-group {
  @include reset-list();
  border-radius: var(--hr-border-radius);

  &.with-border {
    border: 1px solid var(--hr-color-border);
  }

  .list-item {
    border-bottom: 1px solid var(--hr-color-border);
    padding: var(--hr-space-xs) var(--hr-space-sm);

    &:last-child {
      border-bottom: none;
    }
  }
}

.card-title {
  margin: 0;
  color: var(--hr-color-primary);
}

/** to capitalize first letter **/
.capitalize {
  text-transform: capitalize;
}

.page-title {
  margin: 0;
  color: var(--hr-color-primary);
}

.info-card {
  border: 1px solid var(--hr-color-border);
  border-radius: var(--hr-border-radius);
  padding: var(--hr-space-sm);
  position: relative;

  .fly-menu-absolute {
    top: var(--hr-space-sm);
  }
}

// Card list view

.list-grid-row {
  grid-row-gap: var(--hr-space-lg);
}

.list-card {
  padding: var(--hr-space-sm);
  height: 100%;

  .title {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .title,
  .subtitle {
    display: block;
    width: 100%;
  }

  .link {
    font-size: var(--hr-font-size-sm);
    line-height: 1.2;
    color: var(--hr-color-primary);
    white-space: nowrap;
    padding-left: var(--hr-space-sm);

    &:hover {
      text-decoration: none;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--hr-space-sm) calc(var(--hr-space-sm) * -1) calc(var(--hr-space-sm) * -1);
    transition: background-color 0.3s ease;
    padding: 0 var(--hr-space-sm);
    height: 3.25rem;
    overflow: hidden;
    cursor: pointer;

    .pill {
      margin: 0;
    }

    &:hover {
      text-decoration: none;
      background-color: var(--hr-color-card-hover-background);
    }
  }
}

.fly-menu-absolute {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
}

// Custom Card

.info-card {
  box-shadow: none !important;
  border: 1px solid var(--hr-color-border);
  @include card-base();
  padding: var(--hr-space-sm);
  position: relative;

  .card-header {
    @include flexbox(row, center, space-between);
    margin: calc(var(--hr-space-sm) * -1) calc(var(--hr-space-sm) * -1) 0 calc(var(--hr-space-sm) * -1);
    padding: var(--hr-space-sm);
    position: relative;

    &.with-border {
      border-bottom: 1px solid var(--hr-color-border);
    }

    .title {
      margin: 0;
    }
  }

  .card-body {
    padding: var(--hr-space-sm) 0 0;
  }

  .card-footer {
    margin: 0 calc(var(--hr-space-sm) * -1) calc(var(--hr-space-sm) * -1) calc(var(--hr-space-sm) * -1);
    padding: var(--hr-space-sm);
    border-radius: 0 0 var(--hr-border-radius) var(--hr-border-radius);

    &.with-border {
      border-top: 1px solid var(--hr-color-border);
    }
  }

  .highlight-text {
    color: var(--hr-color-primary);
  }
}

.modal-body-sm {
  min-height: 10rem;
}

.sticky-side-nav {
  position: sticky;
  top: calc(var(--hr-space-md) + var(--hr-space-xl))
}

//input default styles hidden
.input-styles-hidden {
  -webkit-appearance: none;
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
}

//used in request leave component
.h-100vh {
  height: 100vh;
}

.w-100vh {
  width: 100vh;
}


.alert-info {
  border: 1px solid var(--hr-color-info);
}

.main-card {
  .title {
    color: var(--hr-color-primary);
  }
}


// Leave date interval arrow separator
.interval-arrow {
  display: block;
  border-top: 2px dashed currentColor;
  position: relative;
  width: calc(100% - 0.125rem);
  color: var(--hr-color-subtitle-light);

  &:after {
    content: '';
    color: var(--hr-color-subtitle-light);
    font-family: 'Font Awesome 5 Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0.25rem, -53%);
  }
}

.tab-container.tab-solid.background-light {
  background-color: var(--hr-color-card-background);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate--45 {
  transform: rotate(-45deg);
}

.dashboard-info-card {
  .card-content {
    display: flex;
    align-items: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-left: var(--hr-space-sm);

    .label {
      margin-bottom: var(--hr-space-xxs);
      color: var(--hr-color-subtitle);
    }

    .value {
      margin: 0;
      font-size: 1.25rem;
    }
  }
}

.attendance-section {
  margin-bottom: var(--hr-space-lg);
  overflow: hidden;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--hr-space-md);

  .left-container {
    .title-container {
      display: flex;
      align-items: flex-end;

      .title {
        font-size: var(--hr-space-lg);
        margin-bottom: 0;
        margin-right: var(--hr-space-sm);
      }
    }
  }

  .right-container {
    display: flex;
    justify-content: flex-end;
  }
}
