.well {
  padding: var(--hr-space-sm);
  margin-bottom: var(--hr-space-sm);
  background-color: var(--hr-color-card-background);
  border: 1px solid var(--hr-color-border);
  border-radius: var(--hr-border-radius);
  box-shadow: inset var(--hr-elevation-sm);
}
