.page-department {

  .department-info {
    @include flexbox(row, flex-start, flex-start);
  }

  .main-info {
    @include flexbox(column, flex-start, center);
    margin-top: var(--hr-space-sm);

    .title {
      margin-bottom: var(--hr-space-xxs);
    }
  }

  .hod-info {
    margin-top: var(--hr-space-md);

    .hod-label {
      margin-bottom: var(--hr-space-xxs);
      font-size: var(--hr-font-size-sm);
    }
  }

  .view-detail-info {
    @include flexbox(column, flex-start, center);
    width: 100%;

    .info {
      width: 100%;
    }
  }

  .heading-search {
    @include flexbox(row, center, flex-start);
  }
}

.page-department-details {

  .department-info {
    @include flexbox(row, flex-start, flex-start);

    .title {
      margin-bottom: var(--hr-space-xxs);
    }

    .subtitle {
      display: block;
      margin-bottom: var(--hr-space-xs);
    }
  }


  .change-hod {
    display: inline-flex;
    flex-direction: column;
    margin-top: var(--hr-space-md);
    margin-left: var(--hr-space-md);

    .form-label {
      font-size: var(--hr-font-size-sm);
    }

    .nico-advanced-select {
      .advance-select-block {
        min-width: 16rem;
      }
    }
  }
}

.department-text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.page-department-info {

}


.app-hod-pill-element {
  .app-pill-element {
    display: inline-flex;
  }

  .pill {
    line-height: 1.5rem;
  }
}
