/* TODO: Timeline */
.timeline {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.timeline__component {
  margin: var(--hr-space-sm) var(--hr-space-xl) var(--hr-space-xl) var(--hr-space-xl);
}

.timeline__component-left {
  @include flexbox(column, flex-end, center);
}

.timeline__component--bg {
  padding: var(--hr-space-sm);
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #d6d6d6;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 2.5rem;
  background: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-light));
  border-radius: 50%;
  @include flexbox(column, center, center);
  color: hsl(var(--hue-light) var(--saturation-primary) var(--lightness-primary) / 85%);
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date-right {
  text-align: right;
  @include flexbox(column, flex-end, center);
}

.timeline__date-left {
  text-align: right;
  @include flexbox(column, flex-start, center);
}

.timeline-date {
  padding: var(--hr-space-xs) var(--hr-space-sm);
  background-color: hsl(var(--hue-light) var(--saturation-primary) var(--lightness-primary) / 85%);
  color: var(--hr-color-white);
}

.timeline__comment {
  line-height: 1.5;
}

.timeline-component-light {
  opacity: .7;
}
