.notification-drawer {
  max-width: 25rem;

  .notification-drawer-header {
    .weather-info {
      .temperature {
        @include display-flex();
        @include align-items(center);

        .value {
          font-size: 1.75rem;
          font-weight: 300;
        }

        .font-icon {
          margin-left: var(--hr-space-xs);
        }
      }
    }
  }

  .notification-drawer-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(var(--hr-space-sm) * -1);
    padding: var(--hr-space-xxs) var(--hr-space-sm);
    border-bottom: 1px solid var(--hr-color-border);

    &:last-of-type {
      border-bottom: 0;
    }

    .mark-as-read-btn {
      font-size: var(--hr-font-size-sm);
      font-weight: 300;
      margin-right: calc(var(--hr-space-sm) * -1);

      &:hover, &:active {
        background-color: $transparent;
      }
    }
  }

  .notification-drawer-body {
    padding: 0 var(--hr-space-sm);

    .notification-list {
      margin: 0 calc(var(--hr-space-sm) * -1);
      height: calc(100vh - 6.125rem - 1px - 3rem - 1px - 3.5rem - 1px);
      min-height: 25rem;
      overflow: hidden;
      overflow-y: auto;

      .notification-row-container {
        border-bottom: 1px solid var(--hr-color-border);
      }
    }
  }

  .notification-drawer-footer {
    padding-top: var(--hr-space-xs);
    padding-bottom: var(--hr-space-xs);
    border-top: 1px solid var(--hr-color-border);

    .btn {
      width: 100%;
    }
  }
}
