.social-security-page{
  .social-security-title{
    font-size: 1.25rem;
  }
  .security-title{
    font-size: 1.25rem;
  }
}

.add-edit-social-security-page{
  .add-edit-social-security-page-title{
    font-size: 1.3rem;

  }
}
