.view-details {
  .user-img {
    width: 100%;
    @include flexbox(column, center, center);
  }

  .user-info {
    @include flexbox(column, center, center);

    .main-info {
      width: 100%;
      text-align: center;
      //border-bottom: 1px solid var(--hr-color-border);
    }
  }
}

.change-password-modal {
  width: 30rem;
}
