.punch-in-out-activity-content {
  margin: 0 calc(var(--hr-space-md) * -1);

  .punch-in-out-activity-list {
    position: relative;
    max-height: 20rem;
    min-height: 20rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    list-style: none;
    padding: 0 var(--hr-space-md);
    margin: 0;
  }

  .activity-list-item {
    padding-bottom: var(--hr-space-sm);
    position: relative;

    .activity-list-item-content {
      display: flex;
      align-items: center;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0.75rem;
      top: 2rem;
      height: 100%;
      width: 1px;
      background-color: var(--hr-color-border);
    }

    &:last-child {
      border-left: 1px solid transparent;
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }

    .info-list {
      padding: var(--hr-space-sm) var(--hr-space-sm) 0;
      margin-left: var(--hr-space-md);

      .info-block {
        margin-bottom: var(--hr-space-xs);
      }
    }
  }

  .activity-details {
    @include flexbox(row, center, space-between);
    position: relative;
    width: 100%;
  }

  .activity-actions {
    display: flex;
    margin-right: -0.75rem;

    .accordion-indicator {
      margin-left: var(--hr-space-xs);
    }
  }

  .blue-icon {
    color: var(--hr-color-primary)
  }

  .icon-holder {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--hr-color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: var(--hr-color-card-background);

    &.check-out {
      border-color: var(--hr-color-danger);

      .blue-icon {
        color: var(--hr-color-danger);
      }
    }

    &.check-in {
      border-color: var(--hr-color-success);

      .blue-icon {
        color: var(--hr-color-success);
      }
    }
  }

  .activity-info-container {
    padding-left: calc(var(--hr-space-xs) + var(--hr-space-lg));
    position: relative;
    display: flex;

    .activity-info {
      display: flex;
      flex-direction: column;
      margin-right: var(--hr-space-xs);

      .title {
        margin: 0;
      }

      .time-block {
        display: flex;
        align-items: center;
        color: var(--hr-color-subtitle);

        .far, .fas {
          margin-right: var(--hr-space-xxs);
        }
      }
    }
  }

  .activity {
    margin: 0;
    padding-bottom: .5rem;
  }

  .rotate-90 {
    transform: rotate(90deg);
    transition: .25s ease;
  }

  .rotate-0 {
    transform: rotate(0deg);
    transition: .25s ease;
  }

  .rotate-45 {
    transform: rotate(45deg);
  }

  .rotate--45 {
    transform: rotate(-45deg);
  }
}

.ngx-mat-timepicker-tbody {
  font-size: var(--hr-font-size-md);
}
