<div class="admin-employee-attendance-page">
  <div class="card">
    <div class="card-header with-border">
      <div class="title">
        <h5 class="m-zero">{{'MOD_ATTENDANCE_REPORT.ATTENDANCE_TABLE_RECORD.CARD_TITLE' |translate}}</h5>
      </div>
      <div>
        <app-chart-legend [chartLegend]="setChartLegend()"></app-chart-legend>
      </div>
    </div>
    <div class="mt-xl">
      <table class="attendance-table">
        <tr>
          <th *ngFor="let date of tableData">
              <span [matTooltip]="date" [matTooltipPosition]="'above'" >{{date.split("-")[2]}}</span>
          </th>
        </tr>
        <tr *ngFor="let model of models">
          <td>
            <app-avatar [username]="model.name" [imageLink]="model.avatar" class="m-xs"></app-avatar>
            <span class="cell-data">{{model.name}}</span>
          </td>
          <td *ngFor="let attendance of model?.attendances" [class]="'attendance-data ' + setTableColor(attendance)">
            {{getAttendanceState(attendance)}}
          </td>
        </tr>
      </table>
      </div>
    </div>
</div>

