<div class="root-app-container" [class.side-nav-pinned]="isSidenavPinned">
  <app-side-nav class="root-app-sidenav" (sidenavCollapse)="onSidenavCollapse($event)"></app-side-nav>
  <div class="root-app-wrapper">
    <app-header class="root-app-header"></app-header>
    <main class="root-app-main-view">
      <xng-breadcrumb [separator]="breadcrumbIconTemplate">
        <ng-container *xngBreadcrumbItem="let breadcrumb">
          <ng-container>{{ breadcrumb | translate }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<ng-template #breadcrumbIconTemplate>
  <i class="font-icon far fa-chevron-right text-smaller"></i>
</ng-template>
