<div class="card">
  <div class="employee-additional-info">
    <div class="card-header mb-sm">
      <h4 class="card-title">{{pageTitle}}</h4>
      <button class="btn btn-primary new-btn" [disabled]="models?.all().length > 1" (click)="onAddEditAddress()">
        <i class="font-icon far fa-plus icon-prefix"></i>
        {{'MOD_EMPLOYEES.ADD_EMPLOYEE_BUTTON_LABEL'| translate}}
      </button>
    </div>
    <div class="grid-row" *ngIf="models?.length > 0; else empty_state">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let address of models">
        <div class="card info-card h-100">
          <div class="card-header">
            <app-circular-icon [config]="{iconName: 'far fa-home', color:'primary'}"></app-circular-icon>
            <div class="fly-menu-absolute">
              <nico-action-fly-menu [options]="{showIconOnly: true}"
                                    [addOns]="getFlyMenuAdOns()"
                                    (action)="onFlyMenuAction($event, address)">
              </nico-action-fly-menu>
            </div>
          </div>
          <div>
            <h5 class="m-zero mb-xs ">{{address?.type === addressType?.temporary? ('MOD_ADDRESS.TEMPORARY_ADDRESS_LABEL'| translate): ('MOD_ADDRESS.PERMANENT_ADDRESS_LABEL'| translate)}}</h5>
            <div class="text-primary mb-xs">
                  <span class="capitalize">{{address?.street | titlecase}},
                    {{address?.city | titlecase}}
                  </span>
            </div>
            <div  class="my-xxs">
                  <span>{{address?.city | titlecase}},
                    {{address?.country | titlecase}}
                    {{address?.zip_code }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #empty_state>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
  <!--  <div *ngIf="models?.all().length <=0">-->
  <!--    <div class="card">-->
  <!--    </div>-->
  <!--  </div>-->
</div>
