<div class="admin-report-page">
  <div class="card" id="flexTable">
    <div class="flex-table flex-table--6cols no-border">
      <div class="flex-table-thead">
        <div class="flex-table-tr with-border">
          <div class="flex-table-th w-20">
            <span class="cell-data">{{'MOD_ATTENDANCE_REPORT.EMPLOYEES_LABEL' | translate}}</span>
          </div>
          <div class="flex-table-th w-10">
            <span class="cell-data ">{{'MOD_ADMIN_ATTENDANCE_HISTORY.ATTENDANCE_TABLE_VIEW.DATE_LABEL' | translate}}</span>
          </div>
          <div class="flex-table-th w-10">
            <span class="cell-data ">{{'MOD_ADMIN_ATTENDANCE_HISTORY.ATTENDANCE_TABLE_VIEW.ATTENDANCE_LABEL' | translate}}</span>
          </div>
          <div class="flex-table-th w-10">
            <span class="cell-data ">{{'MOD_ADMIN_ATTENDANCE_HISTORY.ATTENDANCE_TABLE_VIEW.CHECK_IN_LABEL' | translate}}</span>
          </div>
          <div class="flex-table-th w-10">
            <span class="cell-data ">{{'MOD_ADMIN_ATTENDANCE_HISTORY.ATTENDANCE_TABLE_VIEW.CHECK_OUT_LABEL' | translate}}</span>
          </div>
          <div class="flex-table-th w-10">
            <span class="cell-data">{{'MOD_ADMIN_ATTENDANCE_HISTORY.ATTENDANCE_TABLE_VIEW.WORKING_HOUR_LABEL' | translate}}</span>
          </div>
          <div class="flex-table-th w-10">
            <span class="cell-data">{{'MOD_ADMIN_ATTENDANCE_HISTORY.ATTENDANCE_TABLE_VIEW.BREAK_HOUR_LABEL' | translate}}</span>
          </div>
        </div>
      </div>
      <div class="flex-table-tbody table-striped" *ngIf="attendanceModel?.length > 0; else empty_state">
        <ng-container *ngIf="attendanceModel?.length > 0">
          <ng-container *ngFor="let model of attendanceModel">
            <div class="flex-table-tr tr-hover hover-background" (click)="onTableRowClick(model)" id="attendance-table-view">
              <div class="flex-table-td w-20">
                <app-avatar [username]="model?.employee?.name" [imageLink]="model?.employee?.avatar"
                            class="mr-sm"></app-avatar>
                <span class="cell-data">{{model?.employee?.name}}</span>
              </div>
              <div class="flex-table-td w-10">
                <span [class]="'cell-data'">
                  <span>
                    {{convertDateTimeToDate(model?.attend_date)}}
                  </span>
                </span>
              </div>
              <div class="flex-table-td w-10">
                <span class="cell-data">
                  <app-pill [color]="getPresentAbsentPill(model?.leave_in, model?.check_in)?.color"
                            [label]="getPresentAbsentPill(model?.leave_in, model?.check_in)?.label">
                  </app-pill>
                </span>
              </div>
              <div class="flex-table-td w-10">
                <span [class]="'cell-data'">
                  <span>
                    <i class="far fa-long-arrow-right rotate-45 mr-xs" [class]="convertDateToHoursAndMinutes(model?.check_in, 'check_in')?.color"></i>
                    {{convertDateToHoursAndMinutes(model?.check_in, 'check_in')?.label}}
                  </span>
                </span>
              </div>
              <div class="flex-table-td w-10">
                <span class="cell-data">
                  <i class="far fa-long-arrow-up rotate-45 mr-xs" [class]="convertDateToHoursAndMinutes(model?.check_out, 'check_out')?.color"></i>
                  <span>{{convertDateToHoursAndMinutes(model?.check_out, 'check_out')?.label}}</span>
                </span>
              </div>
              <div class="flex-table-td w-10">
                <span class="cell-data" [class]="assignWorkTimeColor(model?.work_time)">{{getHoursAndMinutes(model?.work_time)}}</span>
              </div>
              <div class="flex-table-td w-10">
                <span class="cell-data">{{getHoursAndMinutes(model?.break_time)}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #empty_state>
  <div class="grid-row">
    <div class="card-body">
      <app-empty-state></app-empty-state>
    </div>
  </div>
</ng-template>
