<div class="card attendance-section">
  <app-chart-legend chartTitle="{{'MOD_ATTENDANCE.ATTENDANCE_LABEL' | translate}}" [chartLegend]="setChartLegend()" *ngIf="userSettingsItems"></app-chart-legend>
  <div echarts [options]="chartOption" class="demo-chart" ></div>
</div>
