<!-- Snackbar -->
<div class="card" id="snackbar">
  <div class="card-header with-border">
    <h4 class="title">Snackbar Alerts</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <h6>Available parameters</h6>
      <pre>type: string;</pre>
      <pre>message: string;</pre>
      <pre>title: 'danger' | 'info' | 'success' | 'warning';</pre>
    </div>
    <button class="btn btn-info m-sm"
            (click)="openSnackBar('This is info alert message for snackbar.', 'info', 'Info Alert Message')">Info
      Snackbar
    </button>
    <button class="btn btn-success m-sm"
            (click)="openSnackBar('This is success alert message for snackbar.', 'success', 'Success Alert Message')">
      Success Snackbar
    </button>
    <button class="btn btn-warning m-sm"
            (click)="openSnackBar('This is warning alert message for snackbar.', 'warning', 'Warning Alert Message')">
      Warning Snackbar
    </button>
    <button class="btn btn-danger m-sm"
            (click)="openSnackBar('This is danger alert message for snackbar.', 'danger', 'Danger Alert Message')">
      Danger Snackbar
    </button>
    <button class="btn btn-light m-sm"
            (click)="openSnackBar('This is default alert message for snackbar', '', 'Default Alert')">Default Snackbar
    </button>
  </div>
</div>
