// ========================================
// Css Variables - Color Scheme
// ========================================
:root {
  /* Default Brand Color / Primary Color HSL Values */

  // Ensue HSL values
   --brand-hue: 212;
   --brand-saturation: 68%;
   --brand-lightness: 38%;

  /*--brand-hue: 224;
  --brand-saturation: 80%;
  --brand-lightness: 48%;*/

  --hue-primary: var(--brand-hue);
  --saturation-primary: var(--brand-saturation);
  --lightness-primary: var(--brand-lightness);

  /* Hues - Accent and Status Color */
  --hue-accent: calc(var(--hue-primary) + 320); /* Calculated Accent Hue Values (180 - for complementary) */
  --hue-danger: 8;
  --hue-info: 192;
  --hue-success: 128;
  --hue-warning: 32;
  --hue-light: var(--hue-primary);

  /* Lightness values */
  --lightness-light-mode: 48%;
  --lightness-dark-mode: 56%;

  /* Colors */
  --hr-color-primary: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary));
  --hr-color-primary-forground: var(--hr-color-background-2);
  --hr-color-accent: hsl(var(--hue-accent) var(--saturation-accent) var(--lightness-accent));
  --hr-color-accent-forground: var(--hr-color-background-2);
  --hr-color-danger: hsl(var(--hue-danger) var(--saturation-danger) var(--lightness-danger));
  --hr-color-danger-forground: var(--hr-color-background-2);
  --hr-color-info: hsl(var(--hue-info) var(--saturation-info) var(--lightness-info));
  --hr-color-info-forground: var(--hr-color-title);
  --hr-color-success: hsl(var(--hue-success) var(--saturation-success) var(--lightness-success));
  --hr-color-success-forground: var(--hr-color-background-2);
  --hr-color-warning: hsl(var(--hue-warning) var(--saturation-warning) var(--lightness-warning));
  --hr-color-warning-forground: var(--hr-color-background-2);
  --hr-color-light: hsl(var(--hue-light) var(--saturation-light) var(--lightness-light));
  --hr-color-light-forground: var(--hr-color-title);

  /* Fonts */
  --hr-font-title: system-ui, -apple-system, sans-serif;
  --hr-font-body: system-ui, -apple-system, sans-serif;
  --hr-font-size-root: 1rem;

  /* Spaces */
  --hr-space-zero: 0;
  --hr-space-xxs: 0.25rem;
  --hr-space-xs: 0.5rem;
  --hr-space-sm: 1rem;
  --hr-space-md: 1.5rem;
  --hr-space-lg: 2rem;
  --hr-space-xl: 3rem;
  --hr-space-xxl: 6rem;

  /* Font Sizes */
  --hr-font-size-xxl: 3rem;
  --hr-font-size-xl: 2rem;
  --hr-font-size-lg: 1.5rem;
  --hr-font-size-md: 1rem;
  --hr-font-size-sm: 0.875rem;
  --hr-font-size-xs: 0.75rem;

  /* Border Radius */
  --hr-border-radius: var(--hr-space-xxs);

  /* Card */
  --hr-card-padding: var(--hr-space-md);

  /* Overlay */
  --hr-color-overlay-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) 24% / 24%);

  /* Scrollbar */
  --hr-scroll-bar-width: 0.75rem;
  --hr-scrollbar-thumb-color: hsl(var(--hue-primary) 6% var(--lightness-primary));

  /* Box Shadow */
  --hr-elevation-sm: 0 2px 1px -1px rgb(0, 0, 0, 0.2), 0 1px 1px 0 rgb(0, 0, 0, 0.14), 0 1px 4px 0 rgb(0, 0, 0, 0.12);
  --hr-elevation-md: 0 2px 4px -1px rgb(0, 0, 0, 0.2), 0 4px 6px 0 rgb(0, 0, 0, 0.14), 0 2px 10px 0 rgb(0, 0, 0, 0.12);
  --hr-elevation-lg: 0 2px 8px -1px rgb(0, 0, 0, 0.2), 0 6px 12px 0 rgb(0, 0, 0, 0.14), 0 2px 18px 0 rgb(0, 0, 0, 0.12);
  --hr-elevation-xl: 0 12px 16px -8px rgb(0, 0, 0, 0.2), 0 24px 38px 4px rgb(0, 0, 0, 0.14), 0 8px 48px 8px rgb(0, 0, 0, 0.12);

  /* Background Images */
  --hr-backgroundImage-login: url('../../assets/images/bg-animated.svg');
  --hr-backgroundImage-ensue-logo: url('../../assets/images/logo.svg');
}

// ========================================
// Css Variables - Light Theme
// ========================================

:root[data-theme="theme-light"] {
  /* Not available on all browsers */
  color-scheme: light;

  /* Color HSL Values*/
  --saturation-accent: 48%;
  --lightness-accent: calc(var(--lightness-light-mode) - 4%);
  --saturation-danger: 80%;
  --lightness-danger: var(--lightness-light-mode);
  --saturation-info: 80%;
  --lightness-info: var(--lightness-light-mode);
  --saturation-success: 48%;
  --lightness-success: 40%;
  --saturation-warning: 72%;
  --lightness-warning: var(--lightness-light-mode);
  --saturation-light: calc(var(--saturation-primary) / 8);
  --lightness-light: 88%;

  /* Text Colors*/
  --hr-color-title: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 24%);
  --hr-color-text: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 32%);
  --hr-color-subtitle: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 44%);
  --hr-color-subtitle-light: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 60%);
  --hr-color-white: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 98%);

  /* Background Colors */
  --hr-color-background-1: hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) 94%);
  --hr-color-background-2: hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) 98%);
  --hr-color-background-3: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 94%);
  --hr-color-background-4: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 86%);

  /* Background Images */
  --hr-backgroundImage-checkbox-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --hr-backgroundImage-checkbox-indeterminate: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
  --hr-backgroundImage-radio-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  --hr-backgroundImage-select: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23000' d='M2.84765 7.00022C3.0646 7.00022 3.28154 7.08327 3.44679 7.24852L12 15.8017L20.5532 7.24852C20.8846 6.91717 21.4201 6.91717 21.7515 7.24852C22.0828 7.57987 22.0828 8.11545 21.7515 8.4468L12.5991 17.5991C12.2678 17.9305 11.7322 17.9305 11.4009 17.5991L2.24851 8.4468C1.91716 8.11545 1.91716 7.57987 2.24851 7.24852C2.41376 7.08327 2.63071 7.00022 2.84765 7.00022Z'/%3e%3c/svg%3e");
  --hr-backgroundImage-search-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23444' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3e%3c/svg%3e");


  /* Background */
  --hr-color-main-background: var(--hr-color-background-1);

  /* Border */
  --hr-color-border: var(--hr-color-background-4);

  /* Card */
  --hr-color-card-background: var(--hr-color-background-2);
  --hr-color-card-hover-background: var(--hr-color-background-3);

  /* Button */
  --hr-button-border-radius: var(--hr-space-xxs);
  --hr-button-border-color-lightness-difference: 4%;
  --hr-button-hover-backgournd-lightness-difference: 6%;
  --hr-button-active-border-color-lightness-difference: 8%;
  --hr-button-active-background-lightness-difference: 12%;
  --hr-button-focus-background-lightness-difference: 8%;

  /* Flex Table */
  --hr-color-table-head-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 88%);
  --hr-color-even-row-background: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 6%);
  --hr-color-table-hover-background: hsl(var(--hue-primary) 50% var(--lightness-primary) / 12%);

  /* Disabled */
  --hr-color-disabled-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 88%);
  --hr-color-disabled-text: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 64%);

  /* Forms */
  --hr-color-form-border: hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) 80%);

  /* Skeleton */
  --hr-color-skeleton-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) 90%);
  --hr-color-skeleton-shine: hsl(var(--hue-primary) calc(var(--saturation-primary) / 4) 82%);

  /* Drawer, Modal, Dropdown */
  --hr-color-popup-background: var(--hr-color-background-2);
  --hr-color-dropdown-item-hover: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 92%);
  --hr-color-popup-border: hsl(var(--hue-light) calc(var(--saturation-light) / 6) 86%);

  /* Sidenav */
  --hr-color-sidenav-background: var(--hr-color-primary);
  --hr-color-sidenav-item-hover-background: hsl(var(--hue-primary) var(--saturation-primary) calc(var(--lightness-primary) - 6%));
  --hr-color-sidenav-item-active-background: hsl(var(--hue-primary) var(--saturation-primary) calc(var(--lightness-primary) - 10%));
  --hr-color-sidenav-item-color: var(--hr-color-primary-forground);

  /* Breadcrumbs */
  --hr-color-breadcrumb-background: var(--hr-color-background-4);
}

// ========================================
// Css Variables - Dark Theme
// ========================================
:root[data-theme="theme-dark"] {
  /* Not available on all browsers */
  color-scheme: dark;

  /* Default Brand Color / Primary Color HSL Values */
  --lightness-primary: 68%;

  /* Color HSL Values*/
  --saturation-accent: var(--saturation-primary);
  --lightness-accent: var(--lightness-dark-mode);
  --saturation-danger: 80%;
  --lightness-danger: var(--lightness-dark-mode);
  --saturation-info: 80%;
  --lightness-info: var(--lightness-dark-mode);
  --saturation-success: 52%;
  --lightness-success: var(--lightness-dark-mode);
  --saturation-warning: 72%;
  --lightness-warning: var(--lightness-dark-mode);
  --saturation-light: calc(var(--saturation-primary) / 12);
  --lightness-light: 24%;

  /* Text Colors*/
  --hr-color-title: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 92%);
  --hr-color-text: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 88%);
  --hr-color-subtitle: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 84%);
  --hr-color-subtitle-light: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 70%);
  --hr-color-white: hsl(var(--hue-primary) calc(var(--saturation-primary) / 16) 20%);

  /* Background Colors */
  --hr-color-background-1: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 6%);
  --hr-color-background-2: hsl(var(--hue-primary) calc(var(--saturation-primary) / 12) 12%);
  --hr-color-background-3: hsl(var(--hue-primary) calc(var(--saturation-primary) / 16) 20%);
  --hr-color-background-4: hsl(var(--hue-primary) calc(var(--saturation-primary) / 24) 24%);

  /* Background Images */
  --hr-backgroundImage-checkbox-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23242424' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --hr-backgroundImage-checkbox-indeterminate: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23242424' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
  --hr-backgroundImage-radio-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23242424'/%3e%3c/svg%3e");
  --hr-backgroundImage-select: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M2.84765 7.00022C3.0646 7.00022 3.28154 7.08327 3.44679 7.24852L12 15.8017L20.5532 7.24852C20.8846 6.91717 21.4201 6.91717 21.7515 7.24852C22.0828 7.57987 22.0828 8.11545 21.7515 8.4468L12.5991 17.5991C12.2678 17.9305 11.7322 17.9305 11.4009 17.5991L2.24851 8.4468C1.91716 8.11545 1.91716 7.57987 2.24851 7.24852C2.41376 7.08327 2.63071 7.00022 2.84765 7.00022Z'/%3e%3c/svg%3e");
  --hr-backgroundImage-search-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23ccc' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3e%3c/svg%3e");

  /* Colors */
  --hr-color-info-forground: var(--hr-color-background-2);
  --hr-color-light-forground: var(--hr-color-title);

  /* Background */
  --hr-color-main-background: var(--hr-color-background-1);

  /* Border */
  --hr-color-border: var(--hr-color-background-4);

  /* Card */
  --hr-color-card-background: var(--hr-color-background-2);
  --hr-color-card-hover-background: var(--hr-color-background-3);

  /* Button */
  --hr-button-border-radius: var(--hr-space-xxs);
  --hr-button-border-color-lightness-difference: -6%;
  --hr-button-hover-backgournd-lightness-difference: -8%;
  --hr-button-active-border-color-lightness-difference: -10%;
  --hr-button-active-background-lightness-difference: -16%;
  --hr-button-focus-background-lightness-difference: -10%;

  /* Flex Table */
  --hr-color-table-head-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 6) 24%);
  --hr-color-even-row-background: hsl(var(--hue-primary) var(--saturation-primary) var(--lightness-primary) / 6%);
  --hr-color-table-hover-background: hsl(var(--hue-primary) 50% var(--lightness-primary) / 12%);


  /* Disabled */
  --hr-color-disabled-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 40%);
  --hr-color-disabled-text: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 80%);

  /* Forms */
  --hr-color-form-border: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 40%);

  /* Skeleton */
  --hr-color-skeleton-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 12) 24%);
  --hr-color-skeleton-shine: hsl(var(--hue-primary) calc(var(--saturation-primary) / 12) 36%);

  /* Drawer, Modal, Dropdown */
  --hr-color-popup-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 16) 20%);
  --hr-color-dropdown-item-hover: hsl(var(--hue-light) calc(var(--saturation-light) / 2) 14%);
  --hr-color-popup-border: hsl(var(--hue-light) calc(var(--saturation-light) / 6) 34%);

  /* Sidenav */
  --hr-color-sidenav-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 12) 24%);
  --hr-color-sidenav-item-hover-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 20%);
  --hr-color-sidenav-item-active-background: hsl(var(--hue-primary) calc(var(--saturation-primary) / 8) 16%);
  --hr-color-sidenav-item-color: currentColor;

  /* Breadcrumbs */
  --hr-color-breadcrumb-background: var(--hr-color-background-2);
}


@media (prefers-color-scheme: light) {
  // Switch theme based on system preferences (Windows/Mac/Android/iOS)
}
