<div class="page-department">
  <!--  Page Header  -->


  <div class="page-header with-border">
    <h4 class="page-header-title">{{pageTitle}}</h4>
    <button class="btn btn-primary ml-auto new-btn" (click)="onAddDepartment()">
      <i class="font-icon far fa-plus icon-prefix"></i>
      {{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.ADD_DEPARTMENT_BUTTON_LABEL'| translate}}
    </button>
  </div>
  <!--  Common Search  -->
  <app-search-nav
    [searchPlaceholderText]="'MOD_EMPLOYEES.SEARCH_INPUT_PLACEHOLDER'"
    (searchChange)="onSearchTextChange($event)"
    (sortOrderChange)="onSortOrderChange($event)"
    (sortByChange)="onSortByChange($event)"
    (statusChange)="onStatusChange($event)"
    [statusDropdownValues]="statusDropdownValues"
    [sortByDropdownValues]="sortByDropdownValues"
    (viewToggleChange)="onViewToggle($event)">
  </app-search-nav>

  <!--  Card view  -->
  <div *ngIf="!isTableView">
    <div *ngIf="models">
      <div class="grid-row list-grid-row" *ngIf="models?.all().length > 0">
        <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let department of models?.all()">
          <div class="card list-card">
            <div class="department-info">
              <app-circular-icon [config]="{iconName: 'far fa-briefcase', color: 'primary'}"></app-circular-icon>
              <div class="fly-menu-absolute">
                <nico-action-fly-menu
                  [options]="{showIconOnly: true}"
                  [addOns]="getFlyMenuAdOns(department)"
                  (action)="onFlyMenuAction($event, department)">
                </nico-action-fly-menu>
              </div>
            </div>
            <div class="main-info">
              <h5 class="title text-truncate">{{department.title | titlecase}}</h5>
              <span class="subtitle">
                  <span *ngIf="department.employees_count > 0">{{department.employees_count}}</span>
                  <span
                    *ngIf="department.employees_count === 0">{{'MOD_DEPARTMENT.EMPLOYEE_COUNT_ZERO' | translate}}</span>
                  <span
                    *ngIf="department.employees_count === 1"> {{'MOD_DEPARTMENT.EMPLOYEE_COUNT_SINGULAR' | translate}}</span>
                  <span
                    *ngIf="department.employees_count > 1"> {{'MOD_DEPARTMENT.EMPLOYEE_COUNT_PLURAL' | translate}}</span>
                </span>
            </div>

            <div class="hod-info">
              <div class="hod-label">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.DEPARTMENT_MANAGER_LABEL'|translate}}</div>
              <app-hod-pill [department]="department"></app-hod-pill>
            </div>

            <a class="card-footer with-border" [routerLink]="department.id">
              <app-status-pill [status]="department.status"></app-status-pill>
              <span class="link">{{'MOD_DEPARTMENT.VIEW_DETAIL_BUTTON_LABEL' | translate}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="my-md display-flex flex-justify-content-center">
        <ng-container *ngIf="models">
          <nico-paginator
            [currentPage]="models.currentPage"
            [size]="models.total"
            [limit]="models.perPage"
            (pageChange)="onPageChange($event)"
            (perPageLimitChange)="onPageLimitChange($event)">
          </nico-paginator>
        </ng-container>
      </div>
    </div>
  </div>

  <!--  Table view  -->
  <div class="department-table-container" *ngIf="isTableView">
    <div class="card" id="flexTable" *ngIf="models">
      <!-- Flex Table -->
      <div class="flex-table flex-table--6cols no-border">
        <div class="flex-table-thead">
          <div class="flex-table-tr with-border">
            <div class="flex-table-th w-40">
              <span class="cell-data">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.DEPARTMENT_NAME_LABEL'| translate}}</span>
            </div>
            <div class="flex-table-th w-20">
                <span
                  class="cell-data">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.DEPARTMENT_MANAGER_LABEL'| translate}}
                </span>
            </div>
            <div class="flex-table-th w-20">
              <span
                class="cell-data text-align-center">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.TOTAL_EMPLOYEES_LABEL'| translate}}</span>
            </div>
            <div class="flex-table-th w-15">
              <span class="cell-data">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.STATUS_LABEL'| translate}}</span>
            </div>
            <div class="flex-table-th action-cell"></div>
          </div>
        </div>
        <div class="flex-table-tbody table-striped">
          <ng-container *ngFor="let department of models?.all()">
            <div class="flex-table-tr tr-hover hover-background">
              <div class="flex-table-td w-40" [routerLink]="department.id" id="data-row">
                <span class="cell-data">{{department.title | titlecase}}</span>
              </div>
              <div class="flex-table-td w-20" [routerLink]="department.id">
                <ng-container *ngIf="department.hod">
                  <app-user-pill [userData]="{value: department?.hod?.name, imageLink: department?.hod?.avatar}"></app-user-pill>
                </ng-container>
                <ng-container *ngIf="!department.hod">
                  <app-pill size="medium" id="not-hod" backgroundType="solid"
                            label="{{'MOD_DEPARTMENT.HOD_UNASSIGNED_LABEL'| translate}}"></app-pill>
                </ng-container>
              </div>
              <div class="flex-table-td w-20" [routerLink]="department.id">
                <span class="cell-data text-align-center">{{department.employees_count}}</span>
              </div>
              <div class="flex-table-td w-15" [routerLink]="department.id">
                <span class="cell-data">
                  <app-status-pill [status]="department.status"></app-status-pill>
                </span>
              </div>
              <div class="flex-table-td action-cell">
                <div class="cell-data">
                  <nico-action-fly-menu
                    [options]="{showIconOnly: true}"
                    [addOns]="getFlyMenuAdOns(department)"
                    (action)="onFlyMenuAction($event, department)">
                  </nico-action-fly-menu>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="my-md display-flex flex-justify-content-center">
      <ng-container *ngIf="models">
        <nico-paginator
          [currentPage]="models.currentPage"
          [size]="models.total"
          [limit]="models.perPage"
          (pageChange)="onPageChange($event)"
          (perPageLimitChange)="onPageLimitChange($event)">
        </nico-paginator>
      </ng-container>
    </div>
  </div>

  <!--  Empty State  -->
  <div class="grid-row" *ngIf="models?.all().length <= 0 && isTableView">
    <div class="card-body">
      <app-empty-state></app-empty-state>
    </div>
  </div>
</div>
