<!--Header-->
<div class="add-edit-employee-page">
  <div class="modal-header with-border">
    <app-circular-icon [config]="{iconName: 'far fa-phone-alt', color:'primary'}"></app-circular-icon>
    <h5 class="modal-title">{{pageTitle}}</h5>
    <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
  <!--  Form-->
  <form [formGroup]="contactForm" [id]="contactFormId">
    <div class="modal-body modal-body-sm">
      <!--        Number-->
      <div class="form-group"
           [class.has-error]="contactForm.controls['number'].touched && contactForm.controls['number'].errors?.required">
        <label for="number" class="form-label">
          {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.FORM_NUMBER_LABEL'| translate}}
        </label>
        <input type="text" name="number" id="number" formControlName="number" class="form-control"
               placeholder="{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.FORM_NUMBER_PLACEHOLDER'| translate}}"/>
        <span class="nico-tooltip"
              *ngIf="contactForm.controls['number'].touched && contactForm.controls['number'].errors?.required">
             {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.FORM_NUMBER_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
      <!--        Type-->
      <div class="form-group"
           [class.has-error]="contactForm.controls['type'].touched && contactForm.controls['type'].errors?.required">
        <label for="type" class="form-label">
          {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.FORM_TYPE_LABEL'| translate}}
        </label>
        <select name="type" id="type" formControlName="type" class="form-control">
          <option
            [value]="contactType.Personal">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.PERSONAL_CONTACT_LABEL' | translate}}</option>
          <option
            [value]="contactType.Home">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.HOME_CONTACT_LABEL' | translate}}</option>
          <option
            [value]="contactType.Office">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.OFFICE_CONTACT_LABEL' | translate}}</option>
        </select>
        <span class="nico-tooltip"
              *ngIf="contactForm.controls['type'].touched && contactForm.controls['type'].errors?.required">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_CONTACTS.FORM_TYPE_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
      </div>
    </div>
  </form>
  <!--      Footer-->
  <div class="modal-footer">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
    <button [disabled]="contactForm.invalid" type="submit" (click)="onFormSubmit()" class="btn btn-primary save">
      <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span></button>
  </div>
</div>

