<!-- Drawer -->
<div class="card" id="drawer">
  <div class="card-header with-border">
    <h4 class="title">Drawer</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-8">
            <h6>Drawer XS</h6>
            <pre>panelClass: ['modal-drawer-view', 'modal-xs']</pre>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary m-sm" (click)="openModalDrawer('modal-xs')">
              Open Extra Small Drawer
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-8">
            <h6>Drawer SM</h6>
            <pre>panelClass: ['modal-drawer-view', 'modal-sm']</pre>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary m-sm" (click)="openModalDrawer('modal-sm')">
              Open Small Drawer
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-8">
            <h6>Drawer MD</h6>
            <pre>panelClass: ['modal-drawer-view', 'modal-md']</pre>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary m-sm" (click)="openModalDrawer('modal-md')">
              Open Medium Drawer
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-8">
            <h6>Drawer LG</h6>
            <pre>panelClass: ['modal-drawer-view', 'modal-lg']</pre>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary m-sm" (click)="openModalDrawer('modal-lg')">
              Open Large Drawer
            </button>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-8">
            <h6>Drawer [Disabled overlay close]</h6>
            <pre>disableClose: true</pre>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary m-sm" (click)="openModalDrawerForm()">
              Open Large Drawer
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

