.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--hr-space-md);

  // Old
  //margin-bottom: var(--hr-space-lg);
  //padding: 0.75rem 0;

  // optional version*
  margin: 0 calc(var(--hr-space-lg) * -1) var(--hr-space-lg)
    calc(var(--hr-space-lg) * -1);
  padding: 0 var(--hr-space-lg) var(--hr-space-sm) var(--hr-space-lg);

  @include md() {
    grid-template-columns: auto 1fr;
  }

  @include sm() {
    margin: 0 calc(var(--hr-space-sm) * -1) var(--hr-space-sm)
      calc(var(--hr-space-sm) * -1);
    padding: 0 var(--hr-space-sm) var(--hr-space-sm) var(--hr-space-sm);
  }

  &.with-border {
    // Old
    //border-bottom: 2px solid var(--hr-color-primary);

    // optional version*
    border-bottom: 1px solid var(--hr-color-border);
  }
}

.page-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header-action-item {
  padding: 0 0.5rem;

  &:last-of-type {
    padding-right: 0;
  }

  &:first-of-type {
    padding-left: 0;
    @include flex(1 1 auto);
  }
}

.page-header-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--hr-font-title);
  margin: 0;
  color: var(--hr-color-title);
}
