.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  z-index: $zIndex-101;
  padding: var(--hr-space-sm) 0;
  box-shadow: var(--hr-elevation-md);
  background-color: var(--hr-color-sidenav-background);
  color: var(--hr-color-sidenav-item-color);
  width: $hr-side-nav-width;
  transition: width 0.2s ease;

  --sidenav-child-active-color: hsl(
    var(--hue-primary),
    calc(var(--saturation-primary) / 6),
    80%,
    32%
  );

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem 0.5rem var(--hr-color-sidenav-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(
      var(--hue-primary),
      calc(var(--saturation-primary) / 6),
      88%,
      80%
    );
    border-radius: 1rem;
    border: 0.125rem solid var(--hr-color-sidenav-background);
  }

  // nav container
  .side-nav-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    padding: var(--hr-space-lg) var(--hr-space-xs) 0;
    overflow: hidden;
    overflow-y: auto;
  }

  // Sidenav logo
  .side-nav-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: var(--hr-space-xl);
    padding: 0 var(--hr-space-xs);
    width: 100%;

    .side-nav-logo {
      width: 2.5rem;
      height: 2.5rem;
      background: var(--hr-backgroundImage-ensue-logo) no-repeat;
      background-size: contain;
      filter: brightness(0) invert(1);
      margin: 0 0.25rem;
    }
  }

  // sidenav toggle area
  .side-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: transform 0.3s ease;
    padding: 0 var(--hr-space-xxs);
    margin-top: calc(var(--hr-space-xs) * -1);

    .toggle-menu-btn {
      color: currentColor;
      background-color: $transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }

      .font-icon {
        font-size: 1.25rem;
      }
    }
  }

  // sub sidenav children container
  .side-nav-sub-child-container {
    display: block;
    transition: margin-left 0.3s ease;
    position: relative;
    padding: var(--hr-space-xs) 0;
    box-shadow: 0 1px 0 0 var(--sidenav-child-active-color),
      0 -1px 0 0 var(--sidenav-child-active-color);

    &.is-open {
      background-color: var(--hr-color-sidenav-item-hover-background);
      border-radius: var(--hr-button-border-radius);
    }
  }

  // nav link
  .side-nav-link {
    display: block;
    position: relative;
    outline: none;
    border: none;
    font-size: var(--hr-font-size-sm);
    border-radius: var(--hr-button-border-radius);

    &:hover {
      background-color: var(--hr-color-sidenav-item-hover-background);
    }

    &:before {
      display: none;
      //content: '';
      width: 0.25rem;
      border-radius: 0.25rem 0 0 0.25rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: currentColor;
    }

    &.active {
      background-color: var(--hr-color-sidenav-item-active-background);

      &:before {
        display: block;
      }
    }
  }

  // nav item
  .side-nav-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.75rem;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    color: currentColor;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;

    .icon-container {
      height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;
      border-radius: 50%;
      @include flexbox(row, center, center);
    }

    // indicators for sidenav item with children
    .accordion-indicator {
      transition: transform 0.3s ease;
      margin-right: 0;
      font-size: var(--hr-font-size-xs);
      display: none;
    }

    .label {
      display: block;
      opacity: 0;
      width: 0;
      transition: padding 0.3s ease, opacity 0.15s ease;
      line-height: 1;
      @include text-truncate();
    }

    &.is-open {
      .accordion-indicator {
        transform: rotate(90deg);
      }
    }
  }

  &.opened,
  &.pinned {
    width: $hr-side-nav-expanded-width;

    // sub sidenav children container
    .side-nav-sub-child-container {
      margin: 0 0 0 2rem;
      box-shadow: unset;

      &.is-open {
        background-color: $transparent;
      }

      &:before {
        display: block;
        content: "";
        width: 1px;
        border-radius: 0.25rem;
        position: absolute;
        left: -0.75rem;
        top: var(--hr-space-sm);
        bottom: var(--hr-space-sm);
        background-color: var(--sidenav-child-active-color);
      }
    }

    .side-nav-toggle {
      justify-content: flex-end;
    }

    .side-nav-item {
      .label {
        opacity: 1;
        padding-left: var(--hr-space-xs);
        width: 100%;
      }

      .accordion-indicator {
        flex: 0 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.is-open {
        &:before {
          display: none;
        }
      }
    }
  }

  &.closed {
    .side-nav-sub-child-container {
      display: none;
    }

    &.pinned {
      .side-nav-sub-child-container {
        display: block;
      }
    }
  }

  @include xs() {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;

    .side-nav-toggle {
      .toggle-menu-btn {
        transform: translateX(4rem);
        color: var(--hr-color-text);

        .font-icon {
          font-size: 1.25rem;
        }
      }
    }

    &.opened,
    &.pinned {
      transform: translateX(0);

      .side-nav-toggle {
        .toggle-menu-btn {
          transform: translateX(0);
          color: currentColor;
        }
      }
    }
  }
}
