<div class="timesheet">
  <div class="modal-header with-border">
    <h5 class="modal-title">{{'MOD_ATTENDANCE.CALENDAR.TIMESHEET_LABEL' | translate}}</h5>
    <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
      <i class="font-icon far fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="grid-row">
      <div class="col-md-6">
        <div class="card elevation-flat work-time-card">
          <app-work-time-chart [workTime]="modal?.workTime" [breakTime]="modal?.breakTime"></app-work-time-chart>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card elevation-flat punch-in-out-card">
          <app-view-punch-in-out-history [attendanceModel]="attendanceModel"></app-view-punch-in-out-history>
        </div>
      </div>
    </div>
  </div>
</div>
