<app-pill [isCustomContent]="true" className="pill-avatar" size="medium" *ngIf="userData" backgroundType="solid">
  <app-avatar [username]="userData.value" [imageLink]="userData.imageLink"></app-avatar>
  <span>{{userData.value}}</span>
</app-pill>
