<div class="doughnut-chart-container">
  <svg width="100%" height="100%" viewBox="0 0 42 42" [class]="'doughnut-chart' + ' ' + 'fill-'+color">
    <circle class="doughnut-chart-background" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke-width="2"></circle>
    <circle class="doughnut-chart-fill" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-width="2"
            stroke-linecap="round" [attr.stroke-dasharray]="fillValue+',100'"></circle>
  </svg>
  <div class="doughnut-chart-info">
    <span class="title" *ngIf="value">{{value}}</span>
    <span class="subtitle" *ngIf="label">{{label}}</span>
  </div>
</div>
