<!-- Flex Table -->
<div class="card" id="flexTable" style="grid-column: 1 / -1">
  <div class="flex-table flex-table--6cols with-borders-bottom with-border-radius table-full-width table-full-height">
    <div class="flex-table-thead with-background">
      <div class="flex-table-tr">
        <div class="flex-table-th w-10">
          <span class="cell-data">ID</span>
        </div>
        <div class="flex-table-th w-20">
          <span class="cell-data">Name</span>
        </div>
        <div class="flex-table-th w-30">
          <span class="cell-data">Email</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data">Status</span>
        </div>
        <div class="flex-table-th w-10">
          <span class="cell-data">Phone</span>
        </div>
        <div class="flex-table-th action-cell"></div>
      </div>
    </div>
    <div class="flex-table-tbody">
      <ng-container *ngFor="let data of tableData">
        <div class="flex-table-tr tr-hover hover-background">
          <div class="flex-table-td w-10">
            <span class="cell-data">{{data.id}}</span>
          </div>
          <div class="flex-table-td w-20">
            <app-avatar [username]="data.name" class="mr-sm"></app-avatar>
            <span class="cell-data">{{data.name}}</span>
          </div>
          <div class="flex-table-td w-30">
            <span class="cell-data">{{data.email}}</span>
          </div>
          <div class="flex-table-td w-10">
            <span class="pill pill-warning" *ngIf="!data.isActive">Inactive</span>
            <span class="pill pill-info" *ngIf="data.isActive">Active</span>
          </div>
          <div class="flex-table-td w-10">
            <span class="cell-data">{{data.phone}}</span>
          </div>
          <div class="flex-table-td action-cell">
            <div class="cell-data">
              <nico-action-fly-menu
                [options]="{showIconOnly: true}"
                [className]="''" [addOns]="flyMenuAddOns">
              </nico-action-fly-menu>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
