<!-- Skeleton -->
<div class="card" id="skeleton">

  <div class="card-header with-border">
    <h4 class="title">Skeleton</h4>
  </div>

  <div class="card elevation-flat">
    <ul class="list-group">
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-6">
            <pre>.skeleton-loader-avatar</pre>
          </div>
          <div class="col-lg-6">
            <div class="skeleton-loader skeleton-loader-avatar size-xxl mb-zero"></div>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-6">
            <pre>.skeleton-loader-title</pre>
          </div>
          <div class="col-lg-6">
            <div class="skeleton-loader skeleton-loader-title mb-zero"></div>
          </div>
        </div>
      </li>
      <li class="list-item py-md">
        <div class="grid-row">
          <div class="col-lg-6">
            <pre>.skeleton-loader-line</pre>
          </div>
          <div class="col-lg-6">
            <div class="skeleton-loader skeleton-loader-line mb-zero"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="grid-row mt-xl">
    <div class="col-md-6">
      <div class="card elevation-flat h-100">
        <div class="skeleton-container flex-direction-column flex-align-items-center">
          <div class="skeleton-loader skeleton-loader-avatar size-xxl mb-xl"></div>
          <div class="display-flex flex-direction-column px-2 text-align-center w-100 flex-align-items-center">
            <div class="skeleton-loader skeleton-loader-title mb-1"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line" style="width: 80%"></div>
            <div class="skeleton-loader skeleton-loader-line" style="width: 60%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card elevation-flat">
        <div class="skeleton-container mb-xl">
          <div class="skeleton-loader skeleton-loader-avatar mr-sm"></div>
          <div class="display-flex flex-direction-column flex-1">
            <div class="skeleton-loader skeleton-loader-title"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
          </div>
        </div>
        <div class="skeleton-container mb-xl">
          <div class="skeleton-loader skeleton-loader-avatar mr-sm"></div>
          <div class="display-flex flex-direction-column flex-1">
            <div class="skeleton-loader skeleton-loader-title"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
          </div>
        </div>
        <div class="skeleton-container">
          <div class="skeleton-loader skeleton-loader-avatar mr-sm"></div>
          <div class="display-flex flex-direction-column flex-1">
            <div class="skeleton-loader skeleton-loader-title"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
