<!--Header-->
<div class="add-edit-employee-page">
  <div class="modal-header with-border">
      <app-circular-icon [config]="{iconName: 'far fa-file', color:'primary'}"></app-circular-icon>
      <h5
        class="modal-title">{{pageTitle}}</h5>
    <div class="drawer-close">
      <button class="icon-btn icon-btn-circular modal-close btn-link-light" mat-dialog-close>
        <i class="font-icon far fa-times"></i>
      </button>
    </div>
  </div>
  <!--  Form-->
  <form [formGroup]="documentForm" [id]="documentFormId">
    <div class="modal-body modal-body-sm">
      <div class="form-container">
        <!--        Number-->
        <div class="form-group" [class.has-error]="documentForm.controls['title'].touched && documentForm.controls['title'].errors?.required">
          <label for="title" class="form-label">
            {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.FORM_TITLE_LABEL'| translate}}
          </label>
          <input type="text" name="title" id="title" formControlName="title" class="form-control"
                 placeholder="{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.FORM_TITLE_PLACEHOLDER'| translate}}"/>
          <span class="nico-tooltip" *ngIf="documentForm.controls['title'].touched && documentForm.controls['title'].errors?.required">
             {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.FORM_TITLE_LABEL' | translate}} {{'MOD_COMMON.IS_REQUIRED_LABEL' | translate}}
          </span>
        </div>
<!--        File-->
        <div id="file" name="file">
          <nico-file-upload *ngIf="modal?.content?.thumbnail; else image_with_no_thumbnail" (upload)="onFileSelect($event, documentForm)" name="file" [imageSource]="modal?.content?.thumbnail" [hint]="documentHint"></nico-file-upload>
          <ng-template #image_with_no_thumbnail>
            <nico-file-upload *ngIf="modal?.content?.documentIcon === 'far fa-file-image'; else not_image" (upload)="onFileSelect($event, documentForm)" name="file" [imageSource]="modal?.content?.url" [hint]="documentHint"></nico-file-upload>
          </ng-template>
          <ng-template #not_image>
            <nico-file-upload (upload)="onFileSelect($event, documentForm)" name="file" [hint]="documentHint" [fileExistsIcon]="modal?.content?.documentIcon"></nico-file-upload>
          </ng-template>
          <span class="nico-tooltip" *ngIf="!this.fileUploadFlag">
             {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.FORM_FILE_LABEL' | translate}} {{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.EMPLOYEE_DOCUMENTS.CORRECT_FORMAT_INFO_LABEL' | translate}}
          </span>
          <span class="nico-tooltip" *ngIf="this.fileUploadErrorMessage">
            {{this.fileUploadErrorMessage}}
          </span>
        </div>
      </div>
    </div>
  </form>
  <!--      Footer-->
  <div class="modal-footer display-flex flex-justify-content-end">
    <button class="btn btn-outline-light cancel-btn"
            mat-dialog-close> {{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.CANCEL_BUTTON_LABEL'| translate}}</button>
    <button [disabled]="documentForm.invalid" type="submit" (click)="saveEmployeeDocument()" class="btn btn-primary save">
      <span>{{'MOD_EMPLOYEES.MOD_ADD_EDIT_EMPLOYEE.SAVE_BUTTON_LABEL'| translate}}</span></button>
  </div>
</div>
