<div class="change-password-modal">
  <div class="modal-header with-border">
    <h5 class="modal-title">{{'MOD_ACCOUNT.CHANGE_PASSWORD_LABEL' | translate}}</h5>
    <span class="icon-btn icon-btn-circular btn-link-light modal-close" (click)="closeModal(false)">
      <i class="font-icon far fa-times"></i>
    </span>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordFormGroup" [id]="changePasswordFormId">

<!--      Old Password-->
      <div class="form-group">
        <label for="old_password"
               class="form-label">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.OLD_PASSWORD_LABEL' | translate}}
        </label>
        <app-toggle-password-field
          [id]="'old_password'"
          [placeholder]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.OLD_PASSWORD_PLACEHOLDER'"
          formControlName="old_password"
        >
        </app-toggle-password-field>
      </div>

<!--      New Password-->
      <div class="form-group" [ngClass]="{'has-error': changePasswordFormGroup.controls['new_password'].touched && changePasswordFormGroup.controls['new_password'].errors?.badPassword}">
        <label for="new_password"
               class="form-label">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_LABEL' | translate}}
          <app-form-info-tooltip [tooltipData]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_INFO_MESSAGE'"></app-form-info-tooltip>
        </label>
        <app-toggle-password-field
          [id]="'new_password'"
          [placeholder]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER'"
          formControlName="new_password"
        >
        </app-toggle-password-field>
        <span class="nico-tooltip"
              *ngIf="changePasswordFormGroup.controls['new_password'].touched && changePasswordFormGroup.controls['new_password'].errors?.badPassword">
          {{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_ERROR_MESSAGE' | translate}}
        </span>
      </div>

<!--      New Password Confirmation-->
      <div class="form-group" [ngClass]="{'has-error': changePasswordFormGroup.controls['new_password_confirmation'].touched && changePasswordFormGroup.controls['new_password_confirmation'].errors?.fieldMismatch}">
        <label for="new_password_confirmation"
               class="form-label">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_LABEL' | translate}}
        </label>
        <app-toggle-password-field
          [id]="'new_password_confirmation'"
          [placeholder]="'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_PLACEHOLDER'"
          formControlName="new_password_confirmation"
        >
        </app-toggle-password-field>
        <span class="nico-tooltip"
              *ngIf="changePasswordFormGroup.controls['new_password_confirmation'].touched && changePasswordFormGroup.controls['new_password_confirmation'].errors?.fieldMismatch">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM_ERROR_MESSAGE' | translate}}</span>
      </div>
    </form>
  </div>
  <div class="modal-footer flex-justify-content-end">
    <div class="btn-container">
      <button class="btn btn-outline-light mr-sm"
              (click)="closeModal(false)">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.CANCEL_BUTTON_LABEL' | translate}}</button>
      <button class="btn btn-primary" [disabled]="changePasswordFormGroup.invalid"
        (click)="closeModal(true)">{{'MOD_ACCOUNT.MOD_CHANGE_PASSWORD.SAVE_BUTTON_LABEL' | translate}}</button>
    </div>
  </div>
</div>
