<div class="admin-report-bar-chart-page">

  <div class="card">
    <div class="card-header with-border">
      <div class="title">
        <h5 class="m-zero">{{'MOD_ATTENDANCE_REPORT.AVG_WORKING_HOUR_LABEL'| translate}}</h5>
      </div>
      <app-chart-legend [chartLegend]="setChartLegend()" ></app-chart-legend>
    </div>
    <div echarts [options]="chartOption" class="admin-line-chart"></div>
  </div>
</div>
