<div class="basic-details-page" *ngIf="model">
  <div>
    <div class="my-sm tenure-info">
      <h5 class="text-muted m-zero">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.TENURE_INFORMATION_LABEL'| translate}}</h5>
    </div>
    <div class="grid-row" *ngIf="isTenureInformation">
      <div class="col-md-4">
        <div class="card elevation-flat h-100">
          <i class="far fa-id-card-alt mb-sm tenure-info-icons"></i>
          <h6 class="mb-xs">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.JOIN_DATE_LABEL'| translate}}</h6>
          <nico-date format="YYYY-MM-DD" [value]="model.joined_at" class="subtitle text-truncate"></nico-date>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card elevation-flat h-100">
          <i class="far fa-badge-check mb-sm tenure-info-icons"></i>
          <h6 class="mb-xs">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.POSITION_LABEL'| translate}}</h6>
          <p class="subtitle text-truncate">{{model.position}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card elevation-flat h-100">
          <i class="far fa-briefcase mb-sm tenure-info-icons"></i>
          <h6 class="mb-xs">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.DEPARTMENT_LABEL'| translate}}</h6>
          <p class="subtitle text-truncate">{{model.department}}</p>
        </div>
      </div>
    </div>

    <div class="personal-info mt-md">
      <div class="mb-sm mt-lg">
        <h5 class="m-zero text-muted">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.PERSONAL_INFORMATION_LABEL'| translate}}</h5>
      </div>
      <div>
        <table class="w-100" *ngIf="isPersonalInformation">
          <tr>
            <td><p class="gender_label">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.GENDER_LABEL'| translate}}</p> </td>
            <td>
              <p class="text-muted" >{{getGenderLabel(model.gender) | translate}}</p>
            </td>
          </tr>
          <tr>
            <td><p class="email_label">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.PERSONAL_EMAIL_LABEL'| translate}}</p></td>
            <td><p class="text-muted">{{model.personal_email | lowercase}}</p> </td>
          </tr>
          <tr>
            <td><p class="dob_label">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.DATE_OF_BIRTH_LABEL'| translate}}</p> </td>
            <td><p><nico-date  format="YYYY-MM-DD"  [value]="model.dob" class="text-muted"></nico-date></p></td>
          </tr>
          <tr>
            <td><p class="status_label">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.MARTIAL_STATUS_LABEL'| translate}}</p></td>
            <td><p class="text-muted">{{model.marital_status === maritalStatus.Married?('MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.MARRIED_LABEL'| translate):('MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.UNMARRIED_LABEL'| translate )}}</p></td>
          </tr>
          <tr>
            <td><p class="pan_label">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.PAN_STATUS_LABEL'| translate}}</p></td>
            <td><p class="text-muted">{{model.pan_no? model.pan_no: '-'}}</p></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

