<div class="py-xs">
  <div class="labels" *ngIf="startValue">
    <div *ngIf="startValue">
      <nico-date [value]="startValue" format="HH:mm"></nico-date>
    </div>

    <div *ngIf="endValue">
      <nico-date [value]="endValue" format="HH:mm"></nico-date>
    </div>
  </div>
  <div class="progress">
    <div class="bar" *ngIf="startValue" style="width:{{fillValue}}% ">
      <div class="percent">
        {{value}}
        <span class="ml-xxs">{{attachLabel}}</span>
      </div>
    </div>
  </div>
</div>
