<div class="social-security-page">
  <div *ngIf="model">
    <div class="card-header">
      <h4 class="card-title">{{pageTitle}}</h4>
    </div>

    <div class="card-body p-zero">
      <div class="grid-row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-sm" *ngFor ="let security of model">
          <div class="card info-card h-100">
            <div class="card-header">
              <app-circular-icon [config]="{iconName: 'far fa-user-lock', color:'primary'}"></app-circular-icon>
            </div>
            <div>
              <h5 class="m-zero mb-xxs capitalize text-truncate">{{security.title}}</h5>
              <p class="text-primary">{{security.number}}</p>
            </div>

            <div class="mt-lg">
              <div class="display-flex flex-justify-content-space-between flex-align-items-center">
                <div class="display-flex flex-align-items-center">
                  <i class="far fa-calendar-star text-primary"></i>
                  <p class="m-zero ml-sm">{{'MOD_SOCIAL_SECURITY.START_DATE_LABEL'| translate}}</p>
                </div>
                <nico-date  format="YYYY-MM-DD"  [value]="security.start_date" class="text-muted"></nico-date>
              </div>

              <div class="display-flex flex-justify-content-space-between mt-sm flex-align-items-center " *ngIf="security.end_date">
                <div class="display-flex flex-align-items-center end-date">
                  <i class="far fa-calendar-exclamation text-primary"></i>
                  <p class="m-zero ml-sm">{{'MOD_SOCIAL_SECURITY.END_DATE_LABEL'| translate}}</p>
                </div>
                <nico-date  format="YYYY-MM-DD"  [value]="security.end_date && security.end_date" class="text-muted"></nico-date>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row" *ngIf="model.length<=0">
      <div class="card-body">
        <app-empty-state></app-empty-state>
      </div>
    </div>
  </div>
</div>
