<div class="card attendance-section">
  <app-chart-legend chartTitle="{{'MOD_ATTENDANCE.MONTHLY_RECORD_CHART.CHART_TITLE' | translate}}" [chartLegend]="setChartLegend()"></app-chart-legend>
  <div echarts [options]="chartOption" class="demo-chart" ></div>
</div>
