<ng-container *ngIf="summaryModel">
  <div class="attendance-section">
    <div class="grid-row">
      <ng-container *ngFor="let summary of summaryModel?.all()">
        <div class="col-md-3">
          <app-dashboard-info-card icon="far fa-user-check" color="primary"
                                   [label]="'MOD_ATTENDANCE.ATTENDANCE_SUMMARY.PRESENT_DAYS_LABEL' | translate"
                                   [value]="summary?.present_days"></app-dashboard-info-card>
        </div>
        <div class="col-md-3">
          <app-dashboard-info-card icon="far fa-user-times" color="primary"
                                   [label]="'MOD_ATTENDANCE.ATTENDANCE_SUMMARY.LEAVE_DAYS_LABEL' | translate"
                                   [value]="summary?.leave_days"></app-dashboard-info-card>
        </div>
        <div class="col-md-3">
          <app-dashboard-info-card icon="far fa-briefcase" color="primary"
                                   [label]="'MOD_ATTENDANCE.ATTENDANCE_SUMMARY.TOTAL_WORK_TIME_LABEL' | translate"
                                   [value]="getHoursAndMinutes(summary?.total_work_time)"></app-dashboard-info-card>
        </div>
        <div class="col-md-3">
          <app-dashboard-info-card icon="far fa-sign-out" color="primary"
                                   [label]="'MOD_ATTENDANCE.ATTENDANCE_SUMMARY.TOTAL_BREAK_TIME_LABEL' | translate"
                                   [value]="getHoursAndMinutes(summary?.total_break_time)"></app-dashboard-info-card>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
