<div class="punch-in-out-activity-container">
  <h4 class="title">
    {{'MOD_ATTENDANCE.ACTIVITY_LABEL' | translate}}
  </h4>

  <div class="punch-in-out-activity-content">
    <ul class="punch-in-out-activity-list" *ngIf="attendanceModel?.all().length > 0; else empty_state">
      <li *ngFor="let attendance of attendanceModel?.all()" class="activity-list-item">
        <div class="activity-list-item-content">
        <span class="icon-holder" [class]="rotateTypeIcon(attendance)">
          <i [class]="attendance?.typeIcon" class="text-small blue-icon"></i>
        </span>
          <div class="activity-details">
            <div class="activity-info-container">
              <div class="activity-info">
                <h6 class="title">
                  {{attendance?.typeName}}</h6>
                <div class="time-block">
                  <i class="far fa-clock"></i>
                  <span class="subtitle">{{getLocalTime(attendance?.attend_at)}}</span>
                </div>
              </div>
              <span class="info-icon" *ngIf="attendance?.parents?.length > 0" [matTooltipPosition]="'above'"
                    [matTooltip]="'MOD_ATTENDANCE.TOOLTIP_INFO_FOR_CHANGED_DATA' | translate">
                <i class="far fa-info-circle blue-icon"></i>
              </span>
            </div>
            <div class="activity-actions">
              <button class="icon-btn icon-btn-circular btn-sm btn-link-light edit-activity"
                      (click)="onEditAttendance(attendance)"
                      *ngIf="hideEditButton(attendance)">
                <i class="far fa-pencil font-icon text-muted"></i>
              </button>
              <button class="icon-btn icon-btn-circular btn-sm btn-link-light accordion-indicator"
                      (click)="toggleAccordion($event, attendance)"
                      *ngIf="showAccordionForCheckInOut(attendance)">
                <i class="far fa-chevron-right font-icon text-muted"
                   [class]="rotateCheckInOutArrows(attendance)"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="info-list" @accordionAnimation *ngIf="attendance.isOpen">
          <app-info-block *ngIf="showInfoBlockForCheckInOut(attendance)"
                          [message]="assignMessageForCheckInOut(attendance)">
          </app-info-block>
          <app-info-block *ngIf="attendance?.parents?.length > 0"
                          [message]="showPreviousChange(attendance)">
          </app-info-block>
        </div>
      </li>
    </ul>
    <ng-template #empty_state>
      <div class="sessions">
        <app-empty-state></app-empty-state>
      </div>
    </ng-template>
  </div>
</div>
