<div class="card dashboard-info-card">
  <div class="card-content">
    <app-circular-icon [config]="{iconName: icon, color: color}"></app-circular-icon>
    <div class="card-info">
      <span class="label">{{label}}</span>
      <h4 class="value">{{value}}</h4>
    </div>
  </div>
</div>
