<!-- Buttons -->
<div class="card" id="buttons">
  <div class="card-header with-border">
    <h4 class="title">Buttons</h4>
  </div>
  <div class="card-body">
    <div class="card elevation-flat mb-lg">
      <div class="card-header with-border">
        <div class="title">Button with label</div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Solid Buttons</h6>
                <pre>.btn-[type-name]</pre>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-accent">Accent</button>
                <button class="btn btn-info"> Info</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-light">Light</button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Outline Buttons</h6>
                <pre>.btn-outline-[type-name]</pre>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-outline-primary">Primary</button>
                <button class="btn btn-outline-accent">Accent</button>
                <button class="btn btn-outline-info"> Info</button>
                <button class="btn btn-outline-success">Success</button>
                <button class="btn btn-outline-warning">Warning</button>
                <button class="btn btn-outline-danger">Danger</button>
                <button class="btn btn-outline-light">Light</button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Link Buttons</h6>
                <pre>.btn-link-[type-name]</pre>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-link-primary">Primary</button>
                <button class="btn btn-link-accent">Accent</button>
                <button class="btn btn-link-info"> Info</button>
                <button class="btn btn-link-success">Success</button>
                <button class="btn btn-link-warning">Warning</button>
                <button class="btn btn-link-danger">Danger</button>
                <button class="btn btn-link-light">Light</button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Buttons with icons</h6>
                <div class="mb-sm">
                  <span>add following classes to [icon tag]</span>
                  <pre>.icon-prefix</pre>
                  <pre>.icon-suffix</pre>
                </div>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-primary">
                  <i class="font-icon far fa-plus icon-prefix"></i>
                  <span>Primary</span>
                </button>
                <button class="btn btn-accent">
                  <span>Accent</span>
                  <i class="font-icon far fa-home icon-suffix"></i>
                </button>
                <button class="btn btn-info">
                  <i class="font-icon far fa-info-circle icon-prefix"></i>
                  <span>Info</span>
                </button>
                <button class="btn btn-success">
                  <span>Success</span>
                  <i class="font-icon far fa-check-circle icon-suffix"></i>
                </button>
                <button class="btn btn-warning">
                  <i class="font-icon far fa-exclamation-circle icon-prefix"></i>
                  <span>Warning</span>
                </button>
                <button class="btn btn-danger">
                  <span>Danger</span>
                  <i class="font-icon far fa-trash icon-suffix"></i>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Disabled Buttons</h6>
              </div>
              <div class="col-lg-8">
                <button class="btn btn-primary" disabled>Solid Button</button>
                <button class="btn btn-outline-primary" disabled>Outline Button</button>
                <button class="btn btn-light-primary" disabled>Link Button</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card elevation-flat">
      <div class="card-header with-border">
        <div class="title">Icon Buttons</div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Solid</h6>
                <pre>.icon-btn</pre>
                <pre>.icon-btn-circular</pre>
                <pre>.btn-[type-name]</pre>
              </div>
              <div class="col-lg-8">
                <button class="icon-btn icon-btn-circular btn-primary">
                  <i class="font-icon far fa-plus"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-accent">
                  <i class="font-icon far fa-times"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-info">
                  <i class="font-icon far fa-user"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-success">
                  <i class="font-icon far fa-check"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-warning">
                  <i class="font-icon far fa-exclamation-triangle"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-danger">
                  <i class="font-icon far fa-trash"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-light">
                  <i class="font-icon far fa-ellipsis-v"></i>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Outline</h6>
                <pre>.icon-btn</pre>
                <pre>.icon-btn-circular</pre>
                <pre>.btn-outline-[type-name]</pre>
              </div>
              <div class="col-lg-8">
                <button class="icon-btn icon-btn-circular btn-outline-primary">
                  <i class="font-icon far fa-plus"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-accent">
                  <i class="font-icon far fa-times"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-info">
                  <i class="font-icon far fa-user"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-success">
                  <i class="font-icon far fa-check"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-warning">
                  <i class="font-icon far fa-exclamation-triangle"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-danger">
                  <i class="font-icon far fa-trash"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-light">
                  <i class="font-icon far fa-ellipsis-v"></i>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Link</h6>
                <pre>.icon-btn</pre>
                <pre>.icon-btn-circular</pre>
                <pre>.btn-link-[type-name]</pre>
              </div>
              <div class="col-lg-8">
                <button class="icon-btn icon-btn-circular btn-link-primary">
                  <i class="font-icon far fa-plus"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-accent">
                  <i class="font-icon far fa-times"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-info">
                  <i class="font-icon far fa-user"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-success">
                  <i class="font-icon far fa-check"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-warning">
                  <i class="font-icon far fa-exclamation-triangle"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-danger">
                  <i class="font-icon far fa-trash"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-light">
                  <i class="font-icon far fa-ellipsis-v"></i>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Disabled</h6>
              </div>
              <div class="col-lg-8">
                <button class="icon-btn icon-btn-circular btn-primary" disabled>
                  <i class="font-icon far fa-plus"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-outline-primary" disabled>
                  <i class="font-icon far fa-plus"></i>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-primary" disabled>
                  <i class="font-icon far fa-plus"></i>
                </button>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Radio Button Groups</h6>
              </div>
              <div class="col-lg-8">
                <div class="mb-md">
                  <div class="btn-group">
                    <input type="radio" class="btn-input" name="radioBtn" id="radioBtn1" checked>
                    <label class="btn btn-outline-primary" for="radioBtn1">Button 1</label>

                    <input type="radio" class="btn-input" name="radioBtn" id="radioBtn2">
                    <label class="btn btn-outline-primary" for="radioBtn2">Button 2</label>

                    <input type="radio" class="btn-input" name="radioBtn" id="radioBtn3">
                    <label class="btn btn-outline-primary" for="radioBtn3">Button 3</label>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-item py-md">
            <div class="grid-row">
              <div class="col-lg-4">
                <h6>Checkbox Button Groups</h6>
              </div>
              <div class="col-lg-8">
                <div class="mb-md">
                  <div class="btn-group">
                    <input type="checkbox" class="btn-input" name="checkBoxBtn" id="checkBoxBtn1" checked>
                    <label class="btn btn-outline-primary" for="checkBoxBtn1">Button 1</label>

                    <input type="checkbox" class="btn-input" name="checkBoxBtn" id="checkBoxBtn2">
                    <label class="btn btn-outline-primary" for="checkBoxBtn2">Button 2</label>

                    <input type="checkbox" class="btn-input" name="checkBoxBtn" id="checkBoxBtn3">
                    <label class="btn btn-outline-primary" for="checkBoxBtn3">Button 3</label>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
