<div class="page-department-details">
  <!-- Card-->
  <div class="card main-card">
    <!--  Department heading and info-->
    <div class="department-info">
      <h4 class="title m-zero">{{'MOD_EMPLOYEES.MOD_VIEW_DETAIL_EMPLOYEE.BASIC_INFO_LABEL'| translate}}</h4>
      <div class="ml-auto">
        <button class="btn btn-primary" (click)="onDepartmentEditClick(model)"><i
          class="far fa-pencil"></i>&nbsp;&nbsp;{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.EDIT_BUTTON_LABEL' | translate}}
        </button>
      </div>
    </div>
    <div class="display-flex flex-align-items-center">
      <div class="hod-assign-label">
        {{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.DEPARTMENT_MANAGER_LABEL'| translate}}
      </div>
    <div class="change-hod form-group " *ngIf="model">
      <!--  TODO: HOD translation  -->
      <nico-advanced-select
        class="w-100" id="hod"
        [config]="config"
        [remote]="true"
        [value]="model?.hod"
        [remoteQueryParams]="advanceSelectQueryParams"
        [url]="url"
        (pick)="onChangeHod($event)">
      </nico-advanced-select>
    </div>
      </div>

    <div class="view-detail mt-lg">
      <form [id]="viewDetailDepartmentFormID">
        <div class="view-detail-info">
          <!-- Description-->
          <div class="info mb-lg">
            <h5>{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.DESCRIPTION_LABEL'| translate}}</h5>
            <p>{{model?.description}}</p>
          </div>



          <!--  Employees List -->
          <div class="info mb-lg">
            <div class="heading-search">
              <h5 class="display-inline-flex">{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.EMPLOYEES_LABEL' | translate}}</h5>
            </div>
            <app-search-nav
              [searchPlaceholderText]="'MOD_EMPLOYEES.SEARCH_INPUT_PLACEHOLDER'"
              (searchChange)="onSearchTextChange($event)"
              [config]="testConfig"
            >
            </app-search-nav>
            <div
              class="flex-table flex-table--6cols mb-lg mt-md mx-zero table-full-width table-full-height no-border"
              *ngIf="employeesModel?.all()">
              <div class="flex-table-tbody table-striped">
                <ng-container *ngFor="let employee of employeesModel">
                  <div class="flex-table-tr tr-hover hover-background py-xxs mt-xxs">
                    <div class="flex-table-td w-20">
                      <app-avatar [username]="employee.name" class="mr-sm"></app-avatar>
                      <span class="cell-data">{{employee.name}}</span>
                    </div>
                    <div class="flex-table-td w-20">
                      <span class="cell-data">{{employee.position}}</span>
                    </div>
                    <div class="flex-table-td w-20">
                      <span class="cell-data">{{employee.email}}</span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div *ngIf="employeesModel?.length < 1">
              <app-empty-state
                message="{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.EMPTY_STATE_MESSAGE' | translate}}"></app-empty-state>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #dropDownItemTemplate let-item="item">
  <div class="display-flex flex-align-items-center">
    <app-avatar [username]="item.name" [imageLink]="item.avatar" avatarClassName="avatar-small mr-xs"></app-avatar>
    <span>{{ item.name }}</span>
  </div>
</ng-template>

<ng-template #dropDownEmptyTemplate>
  <div class="display-flex flex-align-items-center">
    <div class="avatar avatar-small mr-xs">
      <span class="avatar-initials">
        <i class="far fa-user"></i>
      </span>
    </div>
    <span>{{'MOD_DEPARTMENT.MOD_VIEW_DEPARTMENT.UNASSIGNED_LABEL' | translate}}</span>
  </div>
</ng-template>

